<script>
  let isOffline = '<%- config.offline %>' === 'true';
</script>

<%- js('js/jquery-3.6.0.min.js') %>
<%- js('js/dist/asset-bundle.min.js') %>
<%- js('js/scripts.js') %>
<%- js('js/dist/qr-code-styling.js') %>
<%- js('js/dist/tinycolor-min.js') %>
<%- json({
  src: 'js/dist/qr-code-styling-options-contact-light.json',
  id: 'qr-code-styling-options-light'
}) %>
<%- json({
  src: 'js/dist/qr-code-styling-options-contact-dark.json',
  id: 'qr-code-styling-options-dark'
}) %>

<script>
  //--- eval url hash on load
  var hash = window.location.hash.substr(1);
  switch (hash.toLowerCase()) {
    case "contact":
      window.addEventListener('load', function () {
        dialog.contact();
      });
      break;
    case "continue":
      //has no offset due to fixed header
      //...document.getElementById("more").scrollIntoView({ behavior: "smooth", block: "start", inline: "nearest"});
      window.scrollTo({
        behavior: 'smooth',
        top:
          document.querySelector("#more").getBoundingClientRect().top -
          document.body.getBoundingClientRect().top -
          200,
      });
      history.replaceState(null, null, ' '); // remove hash
    default: break;
  }
</script>

<script>

  //HEADER
  var header = {
    height: 0,
    top: 0,
    offset: 55,
    photoLinkOpacity: 0,
    titleFontSize: 0
  };
  function initHeader() {
    $("#header").css("height", ""); //reset inline css
    $("#header-title").css("top", "");
    $("#header-photo-link").css("opacity", "");
    $("#title-wrap").css("font-size", "");
    header.height = $("#header").height(); //set from given css
    header.top = parseFloat($("#header-title").css("top"));
    header.photoLinkOpacity = parseFloat($("#header-photo-link").css("opacity"));
    header.titleFontSize = parseFloat($("#title-wrap").css("font-size"));

    //change subtitle a bit
    let sub = $("#header").find("#subtitle");
    let col = sub.css("color");
    let rpl = `<span style="text-decoration:line-through;color:rgb(120 120 120)" title="not only anymore"><span style="color:${col};opacity:0.75">Tech</span></span>`;
    let txt = sub.text().trim().replace('Tech', rpl);
    sub.html(txt);

    scrollHeader();
  }
  function scrollHeader() {
    var h = header.height - header.offset,
        st = $(document).scrollTop(),
        d = (h - st),
        p = (d / h),
        hfs = header.titleFontSize / 5 * 3,
        jSide = $("aside");
    if (d > 0) {
      $("#header").css("height", d + header.offset + "px");
      $("#header-photo-link").css("opacity", header.photoLinkOpacity * p);
      $("#banner").css("opacity", p);
      $("#title-wrap").css("font-size", header.titleFontSize - ( header.titleFontSize / 3) * (1 - p) );
      $("#header-title").css("top", header.top - (hfs * (1 - p)) + "px");
      $("#subtitle").css("opacity", p);
      jSide.css("max-width", "").css("position", "").css("top", "");
    } else {
      $("#header").css("height", header.offset + "px");
      $("#header-photo-link").css("opacity", 0);
      $("#banner").css("opacity", 0);
      $("#title-wrap").css("font-size", header.titleFontSize - ( header.titleFontSize / 3) * (1) );
      $("#header-title").css("top", header.top - (hfs * (1)) + "px");
      $("#subtitle").css("opacity", 0);
      if (window.matchMedia("screen and (min-width: 768px)").matches & window.innerHeight > (jSide.height() + 50)) {
        jSide.css("max-width", $("aside").width()).css("position", "fixed").css("top", "50px");
      }
    }
  }

</script>

<script>
  /*** EVENTS */

  window.addEventListener('scroll', function() {
    scrollHeader();
    initViewportImage();
  }, { passive: true });

  window.addEventListener('resize', function() {
    initHeader();
    initViewportImage();
  });

  /*** INITS */
  // $(document).ready(function() {
    initHeader();
    initViewportImage();
    initNavMenuScroll();
    initScrollProgress();
  // });

  // BACK-TO-TOP
  addBackToTop({ diameter: 30 });

  // MENU-ITEM-SCROLL
  let pathItem = window.location.pathname.split('/')[1].toLowerCase();
  if (pathItem === "collections") pathItem = window.location.pathname.split('/')[2].toLowerCase()
  setTimeout(() => {
    let e = document.getElementById(`nav-${pathItem}-link`);
    if (e) e.scrollIntoView({ behavior: "smooth", block: "center", inline: "center" });
  }, 250);

  // AUTOTYPING
  setTimeout(function() {
    $("#title-wrap").empty();
    new AutoTyping({
      id: 'title-wrap',
      typeText: ['<%= config.title %>'],
      textColor: '#fff',
      typeSpeed: 100,
      typeDelay: 100,
      showCursor: false,
      delete: false,
      typeInfinity: false
    }).init();
  }, 1000);

  //MEDIUM-ZOOM
  mediumZoom(document.querySelectorAll('img.zoom'), {
    background: 'rgba(55, 55, 55, 0.5)',
    margin: 20,
    scrollOffset: 10
  });

</script>

<% if (config.pirsch.enabled === true) { %>
  <script>
    //HOOK LINKS FOR PIRSCH EVENT...

    //VSCODE
    let vscode = document.querySelectorAll(".brand-links .vscode").forEach(link => link.addEventListener("click", function() { pirsch("Open in VSCode"); }));

  </script>
<% } %>