<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
<%- js('js/jquery.min.js') %>
<%- js('js/dist/bundle.min.js') %>
<%- js('js/script') %>

<script>
  //BACK-TO-TOP
  addBackToTop({
    diameter: 30
  })

  // AUTOTYPING
  setTimeout(function() {
    $("#title-wrap").empty();
    new AutoTyping({
      id: 'title-wrap',
      typeText: ['<%= config.title %>'],
      textColor: '#fff',
      typeSpeed: 100,
      typeDelay: 100,
      showCursor: false,
      delete: false,
      typeInfinity: false
    }).init();
  }, 1000);

  //FULLSIZABLE
  $(function() {
    $("a.fullsizable").fullsizable();
  });

  //HITCOUNT
  if (location.hostname !== "localhost" && hitcountId) {
    const hitcounter = `
      <a href="<%= config.hitcounter.url %>" target="__blank">
        <img alt="Hit counter" src="<%= config.hitcounter.src %>${hitcountId}?background=<%= config.hitcounter.background %>&color=<%= config.hitcounter.color %>&size=<%= config.hitcounter.size %>&digits=<%= config.hitcounter.digits %>">
      </a>
    `;
    document.getElementById("hitcounter").insertAdjacentHTML('afterbegin', hitcounter);
  }
</script>
