<div class="anything-item" data-index="<%= index.name %>" data-key="<%= item.key %>">
    
  <header class="anything-header">
    <% if (photo.file !== item.photograph.file) { %>
      <%- partial('post/photograph', { post: item, class_name: 'anything-photo', size: 'normal' }) %>
    <% } %>
    <h2>
      <a class="button posts" href="<%- url_for(item.path).replace("/index.html", "") %>">
        <span><%= item.title %></span>
        <em><%= item.count %> <%= (item.count === 1) ? "Post" : "Posts" %></em>
      </a>
    </h2>
  </header>
  
  <div class="anything-content">
    <%- item.content %>
  </div>
    
</div>