<% if (post.photograph){ %>
  <%- partial('_partial/photograph', { page: post }) %>
<% } %>

<script>
  var body = document.getElementById("body");
  body.classList.add("article-view");
</script>
  
<article id="<%= post.layout %>-<%= post.slug %>" data-pagefind-meta="type:Article"
         class="article article-type-<%= post.layout %> h-entry">
  
  <div class="article-meta" data-pagefind-ignore>
    <div class="h-card p-author" style="display:none">
      <img class="u-photo" src="<%- config.photo %>" alt="<%- config.author %>" />
      <a class="p-name u-url" href="<%- config.url %>" rel="author"><%- config.author %></a>
    </div>
    <a class="u-url u-uid" href="<%- post.permalink %>" style="display:none;"><%- post.permalink %></a>
    <%- partial('post/date', { class_name: 'article-date', date_format: 'DD MMM YYYY' }) %>
    <%- partial('post/category', { class_name: 'article-category p-category' }) %>
  </div>
  
  <div class="article-inner">

    <% if (post.hidden) { %>
      <small class="hidden-info"><span>This is a hidden post. You're lucky to have the URL ...</span></small>
    <% } %>
    
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/anything', { class_name: 'article-anything' }) %>
        <%- partial('post/title', { class_name: 'article-title p-name', show_link: false, index: false }) %>
        <%- partial('post/subtitle', { class_name: 'article-subtitle p-summary', index: false }) %>
        <div id="interactions-totalnumber-placeholder"></div>
      </header>
    <% } %>
    
    <div class="article-entry e-content">
      <%- post.content %>
    </div>
    
    <footer class="article-footer" data-pagefind-ignore>      
      <%- partial('post/tag', { class_name: 'article-tags' }) %>
      <%- partial('post/permalink', { class_name: 'article-permalink' }) %>
      <% if (post.golem){ %>
        <%- partial('post/golem', { class_name: 'article-golem' }) %>
      <% } %>
    </footer>

  </div>

  <% if (!post.hidden){ %>
  <%- partial('post/interaction', { post: post, type: 'article', comments: true }) %>
  <%- partial('post/related') %>
  <%- partial('post/nav') %>
  <% } %>

</article>