<% if (!index && post.photograph){ %>
<style>
  #banner {
    background-size: cover;
  }
  @media screen and (max-width: 479px) {
    #banner { background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 75%), url("/photos/mobile/<%= post.photograph.file %>"); }
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    #banner { background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 75%), url("/photos/tablet/<%= post.photograph.file %>"); }
  }
  @media screen and (min-width: 768px) {
    #banner { background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 75%), url("/photos/normal/<%= post.photograph.file %>"); }    
  }
</style>
<script>
  var body = document.getElementById("body");
  body.classList.add("article-view");
  var photoLink = document.getElementById("header-photo-link");
  photoLink.href = "<%= post.photograph.link%>";
  photoLink.innerHTML = "see <strong><%= post.photograph.name%></strong> at 500px";
</script>
<% } %>
  
<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: 'DD MMM YYYY'}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <% if (index){ %>
      <%- partial('post/photograph', {class_name: 'article-photo'}) %>
    <% } %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/series', {class_name: 'article-series'}) %>
        <%- partial('post/title', {class_name: 'article-title'}) %>
        <%- partial('post/subtitle', {class_name: 'article-subtitle'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
      <!-- <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a> -->
      
      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index){ %>
    <% if (!index && post.comments){ %>
      <div id="comment-placeholder"></div>
      <script>
        window.addEventListener('load', function () {
          insertUtterancesCommentBlock();
        })    
      </script>
    <% } %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<!-- <% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %> -->
