<section class="concert">
  <img src="/images/artists/<%- item.artist.slug %>.jpg" />
  <div class="concert-name">
    <h3><%- item.artist.name %></h3>

    <% if (item.tour) { %>
    <div><%- item.tour %></div>
    <% } %>

    <% if (item.guests) { %>
    <div class="concert-guests"><small>w/</small>&nbsp;<%- item.guests %></div>
    <% } %>
  </div>
  <div class="concert-info">
    <div><%- date(item.date, 'DD MMM YYYY') %>, <%- item.location %></div>

    <% if (item.link) { %>
    <a href="<%- item.link %>">View on ConcertArchives...</a>
    <% } %>

    <% if (item.post) { %><hr class="divider" /><% } %>  
  </div>
  <% if (item.post) { %>
    <%- partial('post/cardlink-post', { post: item.post }) %>
  <% } %> 
</section>
