<section class="concert">
  <a class="concert-artist" href="https://www.last.fm/music/<%- item.artist.slug.replaceAll("-", "+") %>">
    <img src="/images/artists/<%- item.artist.slug %>.jpg" />
  </a>
  <div class="concert-name">
    <h3><%- item.artist.name %></h3>

    <% if (item.tour) { %>
    <div><%- item.tour %></div>
    <% } %>

    <% if (item.guests) { %>
    <div class="concert-guests"><small>w/</small>&nbsp;<%- item.guests %></div>
    <% } %>
  </div>
  <div class="concert-info">
    <div><%- date(item.date, 'DD MMM YYYY') %>, <%- item.location %></div>

    <% if (item.link) { %>
    <a href="<%- item.link %>">View on ConcertArchives...</a>
    <% } %>
  </div>

  <% if (item.post) { %>
  <div class="concert-post">
    <%- partial('post/postimagelink', { post: item.post, label: "Event Post" }) %>
  </div>
  <% } %> 
</section>
