<% if (post.photograph){ %>
  <%- partial('_partial/photograph', { page: post }) %>
<% } %>

<script>
  var body = document.getElementById("body");
  body.classList.add("article-view");
</script>

<%
  // console.log(post.content);
  let htmlContent = post.content.split(/\<span id="more"\>\<\/span\>/s);
  // console.log(htmlContent[0]);
  // console.log("-----------------------------------");
  // console.log(htmlContent[1]);
%>

<article id="<%= post.layout %>-<%= post.slug %>" data-pagefind-meta="type:Article"
         class="article digest h-entry">

  <div class="article-meta" data-pagefind-ignore>
    <%- partial('post/author') %>
    <%- partial('post/date', { class_name: 'article-date', date_format: 'DD MMM YYYY' }) %>
    <%- partial('post/category', { class_name: 'article-category p-category' }) %>
  </div>
  
  <div class="digest-inner">

    <%- partial('post/outdates') %>
    <%- partial('post/infotext') %>
    <%- partial('post/bandcamp') %>
    
    <header class="article-header">
      <%- partial('post/anything', { class_name: 'article-anything' }) %>
      <%- partial('post/title', { class_name: 'article-title p-name', show_link: false, index: false }) %>
      <%- partial('post/subtitle', { class_name: 'article-subtitle p-summary', index: false }) %>
      <div id="interactions-totalnumber-placeholder"></div>
      <div class="article-entry e-content">
        <%- htmlContent[0] %>
        <span id="more"></span>
      </div>
    </header>

    <div class="panels">
      <%- htmlContent[1] %>
    </div>
        
    <footer class="article-footer" data-pagefind-ignore>      
      <%- partial('post/tag', { class_name: 'article-tags' }) %>
      <%- partial('post/permalink') %>
      <%- partial('post/golem', { class_name: 'article-golem' }) %>
    </footer>

  </div>
  <%- partial('post/share') %>

  <%- partial('post/interaction', { post: post, type: 'article', comments: true }) %>
  <%- partial('post/related') %>
  <%- partial('post/nav') %>

</article>