 
<article id="<%= post.layout %>-<%= post.slug %>" 
         class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  
  <div class="article-meta">
    <%- partial('post/date', { class_name: 'article-date', date_format: 'DD MMM YYYY' }) %>
    <%- partial('post/category', { class_name: 'article-category' }) %>
  </div>
  
  <div class="article-inner">
    <%- partial('post/photograph', { class_name: 'article-photo' }) %>
    
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/anything', { class_name: 'article-anything' }) %>
        <%- partial('post/title', { class_name: 'article-title', show_link: false }) %>
        <%- partial('post/subtitle', { class_name: 'article-subtitle' }) %>
      </header>
    <% } %>
    
    <div class="article-entry" itemprop="articleBody">
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
        <p class="article-more-link">
          <a href="<%- url_for(post.path) %>"><%= theme.excerpt_link %></a>
        </p>
      <% } %>
    </div>
    
    <footer class="article-footer">      
      <%- partial('post/tag', { class_name: 'article-tags' }) %>
      <%- partial('post/permalink', { class_name: 'article-permalink' }) %>
    </footer>
  </div>

</article>