<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div class="inner">
        <div id="footer-info">
          <div>
            &copy; <%= date(new Date(), 'YYYY') %> <a href="https://github.com/kristofzerbe"><%= config.author || config.title %></a><br>
            <%= __('powered_by') %> <a href="https://hexo.io/" target="_blank">Hexo</a> & <a href="https://github.com/" target="_blank">GitHub</a>  
          </div>
          <div>
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" 
                    data-name="bmc-button" data-slug="kikoio" 
                    data-font="Arial" data-text="Buy me a coffee" data-emoji="" 
                    data-color="#55555" data-outline-color="#fff" data-font-color="#fff" data-coffee-color="#fd0" ></script>
          </div>
        </div>
        <ul id="footer-dots">
          <li class="dot"><a href="https://search.google.com/search-console?resource_id=sc-domain%3Akiko.io" target="_blank" title="SearchConsole"></a></li>
          <li id="hitcounter"></li>
        </ul>
        <% if (is_post() || is_page()){ %>
          <input id="hitcounter-id" type="hidden" value="<%= page.hitcounter %>" />
        <% } else { %>
          <input id="hitcounter-id" type="hidden" value="<%= config.hitcounter.index_id %>" />
        <% } %>
        <script>
          if (location.hostname != "localhost") {
            const id = document.getElementById("hitcounter-id").value;
            if (id) {
              const hitcounter = `
                <a href="<%= config.hitcounter.url %>" target="__blank">
                  <img alt="Hit counter" src="<%= config.hitcounter.src %>${id}?background=<%= config.hitcounter.background %>&color=<%= config.hitcounter.color %>&size=<%= config.hitcounter.size %>&digits=<%= config.hitcounter.digits %>">
                </a>
              `;
              document.getElementById("hitcounter").insertAdjacentHTML('afterbegin', hitcounter);
            }
          }
        </script>
  </div>
  </div>
</footer>