<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
  <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div class="inner">

      <ul id="footer-dots">
        <li class="dot"><a href="https://search.google.com/search-console?resource_id=sc-domain%3Akiko.io" title="SearchConsole"></a></li>
        <li class="dot"><a href="https://kiko-io.pirsch.io/" title="Pirsch"></a></li>
        <li class="dot"><a href="https://webmentions.kiko.io" title="Webmention Analytics"></a></li>
      </ul>

      <div id="footer-info" class="footer-block">
        &copy; 2019-<%= date(new Date(), 'YYYY') %>&nbsp;&nbsp;<a href="<%- url_for("/about") %>"><%= config.author %></a>
        <span class="dot-space">&#9679;</span>
        <%= __('powered_by') %> <a href="https://hexo.io/">Hexo</a> & <a href="https://github.com/">GitHub</a>
      </div>

      <div id="footer-links">
        <a href="<%- url_for("/feeds") %>">/Feeds</a>
        <span class="dot-space">&#9679;</span>
        <a href="javascript:dialog.contact();">#Contact</a>
        <span class="dot-space">&#9679;</span>
        <a href="<%- url_for("/impressum") %>">/Impressum</a>
        <span class="dot-space">&#9679;</span>
        <a href="<%- url_for("/slashes") %>">/... more</a>
      </div>

      <div id="footer-perf">
        Page loaded in <span class="perf-loadtime">0</span> at <span class="perf-viewport"></span>
        <span class="dot-space">&#9679;</span>
        <a href="javascript:dialog.pageMeta();">Meta</a>
        <script>
          window.addEventListener("resize", function () {
            const height = document.documentElement.clientHeight;
            const width = document.documentElement.clientWidth;
            document.querySelector("#footer-perf span.perf-viewport").innerHTML = `${width} x ${height}`;
          });
          window.addEventListener("load", function () {
            const pageEnd = performance.mark("pageEnd")
            const loadTime = pageEnd.startTime / 1000;
            document.querySelector("#footer-perf span.perf-loadtime").innerHTML = loadTime.toFixed(2);
            window.dispatchEvent(new Event('resize'));
          });
        </script>
      </div>

      <div class="webrings">
        <div id="indieweb_webring" class="webring">
          <a class="webring-link webring-prev" href="https://xn--sr8hvo.ws/previous" title="Turn left in the Webring"></a>
          <a class="webring-url" href="https://xn--sr8hvo.ws">IndieWeb Webring&nbsp;🕸💍</a>
          <a class="webring-link webring-random" href="https://xn--sr8hvo.ws/random" title="Turn randomly in the Webring"></a>
          <a class="webring-link webring-next" href="https://xn--sr8hvo.ws/next" title="Turn right in the Webring"></a>
        </div>
        <div id="cssjoy_webring" class="webring">
          <a class="webring-link webring-prev" href="https://webri.ng/webring/cssjoy/previous?via=https://kiko.io" title="Turn left in the Webring"></a>
          <a class="webring-url" href="https://cs.sjoy.lol/">CSS JOY Webring</a>
          <a class="webring-link webring-random" href="https://webri.ng/webring/cssjoy/random?via=https://kiko.io" title="Turn randomly in the Webring"></a>
          <a class="webring-link webring-next" href="https://webri.ng/webring/cssjoy/next?via=https://kiko.io" title="Turn right in the Webring"></a>
        </div>
        <div id="indieblogpage_webring" class="webring">
          <a class="webring-link webring-prev" href="#"></a>
          <a class="webring-url" href="https://indieblog.page/">indieblog.page</a>
          <a class="webring-link webring-random" href="https://indieblog.page/random" title="Turn randomly in the Webring"></a>
          <a class="webring-link webring-next" href="#"></a>
        </div>
      </div>

    </div>
  </div>
</footer>