<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div class="inner">

      <ul id="footer-dots">
        <li class="dot"><a href="https://search.google.com/search-console?resource_id=sc-domain%3Akiko.io" title="SearchConsole"></a></li>
        <li class="dot"><a href="https://kiko-io.pirsch.io/" title="Pirsch"></a></li>
        <li class="dot"><a href="https://webmentions.kiko.io" title="Webmention Analytics"></a></li>
      </ul>

      <div id="footer-info" class="footer-block">
        &copy; 2019-<%= date(new Date(), 'YYYY') %>&nbsp;&nbsp;<a href="https://bio.link/kristof"><%= config.author || config.title %></a>
        <span class="dot-space">&#9679;</span>
        <%= __('powered_by') %> <a href="https://hexo.io/">Hexo</a> & <a href="https://github.com/">GitHub</a>  
        <div id="footer-links">
          <% for (var i in theme.footer_menu){ %>
            <a href="<%- url_for(theme.footer_menu[i]) %>"><%= __(i) %></a>
            <span class="dot-space">&#9679;</span>
          <% } %>
        </div>
      </div>

      <div id="webring">
        <a id="webring-prev" class="webring-link" href="https://xn--sr8hvo.ws/%F0%9F%A7%80%F0%9F%91%9F%F0%9F%8E%8A/previous">&#11164;</a>
        <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
        <a id="webring-next" class="webring-link" href="https://xn--sr8hvo.ws/%F0%9F%A7%80%F0%9F%91%9F%F0%9F%8E%8A/next">&#11166;</a>
      </div>

    </div>
  </div>
</footer>