<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%
    var title = page.title;

    if (is_archive()){
      title = __('archive_a');

      if (is_month()){
        title += ': ' + page.year + '/' + page.month;
      } else if (is_year()){
        title += ': ' + page.year;
      }
    } else if (is_category()){
      title = __('category') + ': ' + page.category;
    } else if (is_tag()){
      title = __('tag') + ': ' + page.tag;
    }

    var hitcountId;
    if (is_home()) {
      hitcountId = config.hitcount.index_id;
    }
    if (is_post() || is_page()) {
      hitcountId = page.hitcountId;
    }
  %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= config.title %><% if (title){ %> | <%= title %><% } %></title>
  <meta name="title" content="<%= config.title %> - <%= config.subtitle %>">
  <meta name="description" content="<%= config.description %>">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="<%= config.title %> - <%= config.subtitle %>">
  <meta itemprop="description" content="<%= config.description %>">
  <meta itemprop="image" content="<%= config.heroimage %>"> 
  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= config.title %> - <%= config.subtitle %>">
  <meta property="og:url" content="https://<%= config.title %>">
  <meta property="og:description" content="<%= config.description %>">
  <meta property="og:image" content="<%= config.heroimage %>">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:url" content="https://<%= config.title %>">
  <meta property="twitter:title" content="<%= config.title %> - <%= config.subtitle %>">
  <meta property="twitter:description" content="<%= config.description %>">
  <meta property="twitter:image" content="<%= config.heroimage %>">

  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>

  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>

  <%- css('css/dist/bundle.min.css') %>  
  <%- css('css/style.css') %>  

  <script>
    var hitcountConfig = {
      id: '<%= hitcountId %>',
      webUrl: '<%= config.hitcount.web_url %>',
      apiUrl: '<%= config.hitcount.api_url %>',
      size: '<%= config.hitcount.size %>',
      background: {
        light: '<%= config.hitcount.background.light %>',
        dark: '<%= config.hitcount.background.dark %>'
      },
      color: {
        light: '<%= config.hitcount.color.light %>',
        dark: '<%= config.hitcount.color.dark %>'
      },
      digits: '<%= config.hitcount.digits %>'
    }

  </script>

</head>
