<!DOCTYPE html>
<html lang="en">
  
<%
  let meta = {
    type: "page",
    area: null,
    subarea: null,
    slug: null,
    title: null,
    description: null,
    photograph: config.hero,
    photoUrl: config.hero.url,
    imageUrl: config.hero.url
  }

  let currentYear = new Date().getFullYear();

  if (page.photograph) {
    page.photograph.url = "/photos/normal/" + page.photograph.file
    meta.photograph = page.photograph;
    meta.photoUrl = page.photograph.url;
    meta.imageUrl = page.photograph.url;
  }

  let excerpt;
  let excerptDesc;
  if (page.excerpt) {
    excerpt = excerpt_plain(page.excerpt)
      .replace(/^(\r\n|\n|\r)/, "") // Remove Leading break
      .replace(/(\r\n|\n|\r){2,}/g, " ") // Remove Multiple breaks
      .trim();
  }
  if (excerpt) {
    excerptDesc = excerpt.substring(0, 150)
      .replace(/(\r\n|\n|\r)/g, "") // Remove line breaks
      .replace(/"/g, '\\"') + "...";
  }

  // let excerpt;
  // if (page._content) { 
  //   excerpt = page._content
  //     .replace(/^(\n)/, "") // Remove Leading break
  //     .replace(/\{%\s.*%\}\n/g, "") // Remove multi line Nunjucks Vars
  //     .replace(/\{%\s(post_link) (?<content>.+?)%\}/g, "($<content>)") // Replace single line Nunjucks vars with its content
  //     .replace(/(\n-{3})/g, "") // Remove MD horizontal lines
  //     .replace(/(```.+?```)/gim, "[code]") // Replace MD code blocks with placeholder
  //     .replace(/__|\*|!|\#|(?:\[([^\]]*)\]\([^)]*\))/g, "$1") // Replace other MD elements
  //     .split("\n")[0] // Get first paragraph
  //     .replace(/(\n){2,}/g, " ") // Remove Multiple breaks
  //     .substring(0, 150) + "...";
  // }

  let rootPath = page.path.split(/[\\\/]/)[0].toLowerCase();

  if      (is_home())     { meta.area = "HOME"; }
  else if (is_post())     { meta.area = "POST"; }
  else if (is_page())     { meta.area = "PAGE"; }
  else if (is_archive())  { meta.area = "ARCHIVE";
    if      (is_month())    { meta.subarea = "MONTH"; }
    else if (is_year())     { meta.subarea = "YEAR"; }
  }
  else if (is_category()) { meta.area = "CATEGORY"; }
  else if (is_tag())      { meta.area = "TAG"; }
  else if (is_dynamic(rootPath)) { meta.area = "DYNAMIC"; } // custom helper
  // else if (is_anything(rootPath)) { // custom helper //TODO: DOES NOT WORK FOR proejct(s)
  //   console.log("ANYTHING: " + rootPath);
  //   meta.area = "ANYTHING"; 
  //   meta.subarea = rootPath.toUpperCase();
  // } 
  else {
    switch (rootPath) {
      case "notes":
        meta.area = "NOTE";
        meta.subarea = page.path.split(/[\\\/]/)[1]; //year
        break;
      case "series":
      case "projects":
        meta.area = "ANYTHING"; 
        meta.subarea = rootPath.toUpperCase();
        break;
      default:
        meta.area = rootPath.toUpperCase();
        break;
    }
  }

  switch (meta.area) {
    case "HOME":
      meta.title = config.title + " - " + config.subtitle;
      meta.description = config.description;
      break;

    case "ARCHIVE":
      switch (meta.subarea) {
        case "MONTH": 
          meta.title = __("archive_a") + " " + page.year + "/" + page.month + " - " + config.title; 
          break;
        case "YEAR": 
          meta.title = __("archive_a") + " " + page.year + " - " + config.title; 
          break;
        default: 
          meta.title = __("archive_a") + " - " + config.title;
        break;
      }
      //--
      meta.description = config.description.replace("Blog", "Archive");
      break;

    case "CATEGORY":
      meta.title = __("category") + " " + page.category + " - " + config.title;
      meta.description = config.description.replace("Blog", "Archive");
      break;

    case "TAG":
      meta.title = __("tag") + " " + page.tag + " - " + config.title;
      meta.description = config.description.replace("Blog", "Archive");
      break;

    case "PAGE":
      meta.title = page.title + " - " + config.title;
      if (page.description) { 
        meta.description = page.description;
      } else { 
        meta.description = page.title + " " + config.description_short;
      }
      break;

    case "ANYTHING":
      meta.title = page.title + " - " + config.title;
      //--
      if (page.title === "Projects") {
        meta.description = page.title + " " + config.description_short;
      } else {
        meta.description = "Project '" + page.title + "' " + config.description_short;
      }
      if (page.title === "Series") {
        meta.description = page.title + " " + config.description_short;
      } else {
        meta.description = "Series '" + page.title + "' " + config.description_short;
      }
      break;

    case "DYNAMIC":
      meta.title = page.title + " - " + config.title;
      meta.description = page.title + " " + config.description_short;
      if (page.type === "photo") {
        meta.type = "photo";
        meta.imageUrl = page.pathNormal;
      }
      if (page.app) {
        meta.type = "app";
        meta.app = page.app;
      }
      break;

    case "POST":
      meta.title = page.title + " - " + config.title;
      //--
      if (page.description) {
        meta.description = page.description;
      } else {
        if (page.subtitle) {
          meta.description = page.subtitle;
        } else {
          meta.description = excerptDesc;
        }
      }
      //--
      let slugArray = page.slug.split("/"); //due to subfolders
      meta.slug = slugArray[slugArray.length - 1];
      meta.imageUrl = "/images/social-media/" + meta.slug + ".png"; // image = social media image
      meta.type = "article";
      break;

    case "NOTE":
      meta.title = page.title + " - " + config.title;
      //--
      if (page.title === "Notes") {
        meta.description = page.title + " of " + meta.subarea + " " + config.description_short;
      } else {
        if (page.description) {
          meta.description = page.description;
        } else {
          meta.description = excerptDesc;
        }
        meta.type = "blogposting";
      }
      break;

    default: 
      break;
  }
%>

<head data-area="<%= meta.area %>" 
      data-subarea="<%= meta.subarea %>"
      data-type="<%= meta.type %>">
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= meta.title %></title>
  <meta name="author" content="<%= config.author %>">
  <meta name="title" content="<%= meta.title %>">
  <% if (meta.description) { %>
  <meta name="description" content="<%= meta.description %>">
  <% }%>
  <% if (excerpt) { %> 
  <meta name="excerpt" content="<%= excerpt %>">
  <% }%>
  
  <link rel="canonical" href="<%= url.replace("index.html", "") %>">
  <% if (!meta.app) { %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <meta name="theme-color" content="#444">
  <% } else { %>
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta name="theme-color" content="<%= meta.app.color %>">  
  <% }%>

  <%#!-- JSON-LD (schema.org) for Google --%>
  <% if (!meta.app) { %>
  <%
    let jsonPartial = "json-ld-" + meta.type;
    let jsonLD = partial('_partial/meta/' + jsonPartial, { meta: meta });
    try {
      jsonLD = jsonLD.replace(/\\/g, '\\\\');
      jsonLD = JSON.stringify(JSON.parse(jsonLD));
    } catch (error) {
      console.error(error);
      console.log(jsonLD);
      console.log(excerptDesc);
    }
  %>
  <script type="application/ld+json"><%- jsonLD %></script>
  <% }%>
  
  <%#!-- Open Graph --%>
  <meta property="og:site_name" content="<%= config.title %>">
  <meta property="og:type" content="blog">
  <meta property="og:url" content="<%= url.replace("index.html", "") %>">
  <meta property="og:title" content="<%= meta.title %>">
  <% if (meta.description) { %>
  <meta property="og:description" content="<%= meta.description %>">
  <% } %>
  <meta property="og:image" content="<%= config.url + meta.imageUrl %>">
  <meta property="og:locale" content="en_US">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="<%= url.replace("index.html", "") %>">
  <meta property="twitter:title" content="<%= meta.title %>">
  <% if (meta.description) { %>
  <meta property="twitter:description" content="<%= meta.description %>">
  <% } %>
  <meta property="twitter:image" content="<%= config.url + meta.imageUrl %>">

  <%#!-- webmention.io --%>
  <link rel="webmention" href="https://webmention.io/<%= config.title %>/webmention" />
  <link rel="pingback" href="https://webmention.io/<%= config.title %>/xmlrpc" />

  <%#!-- IndieAuth --%>
  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
  <link href="https://github.com/<%= config.github_user %>" rel="me authn">
  <link href="mailto:<%= config.email %>" rel="me authn">
  
  <%#!-- Feeds --%>
  <!-- <link rel="alternate" href="%= url_for(config.feed.default) %" 
        title="%= meta.title %" type="application/atom+xml"> -->
  <%  
  config.feed.feed_types.forEach(e => { 
    if (e.alternate_link === true) { %>
    <link rel="alternate" href="<%= url_for(e.output) %>" title="<%= e.title %>" type="<%= e.content %>">
  <% } 
  }); %>

  <link rel="preload" href="/css/fonts/lexend/webfonts/Lexend-ExtraLight.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/lexend/webfonts/Lexend-Light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/lexend/webfonts/Lexend-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/lexend/webfonts/Lexend-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/lexend/webfonts/Lexend-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  
  <link rel="preload" href="/css/fonts/opensans/opensans-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/opensans/opensans-italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/opensans/opensans-semibold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/opensans/opensans-semibolditalic.woff2" as="font" type="font/woff2" crossorigin>
  
  <link rel="preload" href="/css/fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-It.ttf.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-Bold.ttf.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-BoldIt.ttf.woff2" as="font" type="font/woff2" crossorigin>
  
  <link rel="preload" href="/css/fonts/forkawesome/forkawesome-webfont.woff2" as="font" type="font/woff2" crossorigin>

  <% if (!page.photograph) { %>
  <link rel="preload" as="image" id="img-preload" href="/images/hero.jpg" 
        imagesrcset="/images/hero-mobile.jpg 480w, /images/hero-tablet.jpg 768w">
  <link rel="preload" as="image" id="photo-preload" href="/images/hero.jpg" 
        imagesrcset="/images/hero-mobile.jpg 480w, /images/hero-tablet.jpg 768w">
  <% } else { %>
  <link rel="preload" as="image" id="img-preload" href="<%= meta.imageUrl %>" 
        imagesrcset="<%= meta.imageUrl.replace("normal", "mobile") %> 480w, <%= meta.imageUrl.replace("normal", "tablet") %> 768w">
  <link rel="preload" as="image" id="photo-preload" href="<%= meta.photoUrl %>" 
        imagesrcset="<%= meta.photoUrl.replace("normal", "mobile") %> 480w, <%= meta.photoUrl.replace("normal", "tablet") %> 768w">  
  <% } %>
    
  <%- css('css/dist/asset-bundle.min.css') %>
  <%- css('css/style.css') %>

  <% if (page.photograph) { %>
  <style>
    #banner {
      background-size: cover;
    }
    @media screen and (max-width: 479px) {
      #banner { background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 75%), url("/photos/mobile/<%= page.photograph.file %>"); }
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      #banner { background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 75%), url("/photos/tablet/<%= page.photograph.file %>"); }
    }
    @media screen and (min-width: 768px) {
      #banner { background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 75%), url("/photos/normal/<%= page.photograph.file %>"); }    
    }
  </style>
  <% } %>

  <script>
    var theme = "light"; //default

    var storedTheme = localStorage.getItem("theme"); 
    if (storedTheme) { 
      theme = storedTheme; 
    } else if (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
      theme = "dark";
    }

    localStorage.setItem("theme", theme);
    document.documentElement.setAttribute("data-theme", theme);

    window.onload = function () { setTheme(theme); };

  </script>

  <%- js('js/tools.js') %>
  <%- js('js/dialog.js') %>
  <%- js('js/dist/scroll-timeline.js') %>
  <%- js('js/dist/tiny-slider.js') %><%# Bundling Errors %>
  <%- js('js/dist/image-compare-viewer.min.js') %><%# Bundling Errors %>
  <%- js('js/dist/macy.js') %><%# Bundling Errors %>
  <%- js('js/dist/spotlight.bundle.js') %>

<% if (config.pirsch.enabled === true) { %>
  <script defer type="text/javascript" 
    src="https://api.pirsch.io/pirsch.js"
    id="pirschjs"
    data-code="<%= config.pirsch.code %>"></script>
  <script type="text/javascript" 
    src="https://api.pirsch.io/pirsch-events.js"
    id="pirscheventsjs"
    data-code="<%= config.pirsch.code %>"></script>    
<% } %>

</head>
