<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
  <%
    let title;
    let description;
    let image;
    let type;
    let subtype;

    let excerpt;
    if (page._content) { 
      excerpt = page._content
        .replace(/^(\n)/, "") // Remove Leading break
        .split("\n")[0] // Get first paragraph //TODO: if not, tag plugins has to be removed first out of the complete text
        .replace(/(```.+?```)/gim, "[code]") // 1. Replace MD code blocks with placeholder
        .replace(/\!\[(?<imagetext>.*)\]\(.*\)/g, "($<imagetext>)") // 2: Replace MD images with alt text
        .replace(/\[(?<linktext>.*)\]\(.*\)/g, "$<linktext>") // 2: Replace MD links with link title
        .replace(/[`]{1,2}|\*{1,3}|_{1,3}|~{2}|#{1,3}\s|[-=]{2,}|>\s?/g, "") // 3. Remove MD formatting (code, italic/bold, strikethrough, header, lines, quotes)
        .replace(/(\n){2,}/g, " ") // 4. Multiple breaks
        .substring(0, 150) + "...";
    }

    if (is_home())          { type = "HOME"; }
    else if (is_post())     { type = "POST"; }
    else if (is_page())     { type = "PAGE"; }
    else if (is_archive())  { type = "ARCHIVE";
      if (is_month())         { subtype = "MONTH"; }
      else if (is_year())     { subtype = "YEAR"; }
    }
    else if (is_category()) { type = "CATEGORY"; }
    else if (is_tag())      { type = "TAG"; }
    else {
      let rootPath = page.path.split(/[\\\/]/)[0].toLowerCase();
      switch (rootPath) {
        case "series":
        case "projects":
          type = "ANYTHING"; 
          subtype = rootPath.toUpperCase();
          break;
        case "notes":
          type = "NOTE";
          subtype = page.path.split(/[\\\/]/)[1]; //year
          break;
        default:
          type = rootPath.toUpperCase();
          break;
      }
    }

    //console.log("HEAD: " + type + " = " + subtype + " ... " + page.title);

    switch (type) {
      case "HOME":
        title = config.title + " - " + config.subtitle;
        description = config.description;
        image = config.heroimage_small;
        break;

      case "ARCHIVE":
        switch (subtype) {
          case "MONTH": 
            title = __("archive_a") + " " + page.year + "/" + page.month + " - " + config.title; 
            break;
          case "YEAR": 
            title = __("archive_a") + " " + page.year + " - " + config.title; 
            break;
          default: 
            title = __("archive_a") + " - " + config.title;
          break;
        }
        //--
        description = config.description.replace("Blog", "Archive");
        //--
        image = config.heroimage_small;
        break;

      case "CATEGORY":
        title = __("category") + " " + page.category + " - " + config.title;
        description = config.description.replace("Blog", "Archive");
        image = config.heroimage_small;
        break;

      case "TAG":
        title = __("tag") + " " + page.tag + " - " + config.title;
        description = config.description.replace("Blog", "Archive");
        image = config.heroimage_small;
        break;

      case "PAGE":
        title = page.title + " - " + config.title;
        description = page.title + " " + config.description_short;
        image = config.url + "/photos/normal/" + page.photograph.file;
        break;

      case "ANYTHING":
        title = page.title + " - " + config.title;
        //--
        if (page.title === "Projects") {
          description = page.title + " " + config.description_short;
        } else {
          description = "Project '" + page.title + "' " + config.description_short;
        }
        if (page.title === "Series") {
          description = page.title + " " + config.description_short;
        } else {
          description = "Series '" + page.title + "' " + config.description_short;
        }
        //--
        if (subtype === "PROJECTS") {
          image = config.url + "/photos/normal/" + page.photograph.file;
        } else {
          image = config.heroimage_small;
        }
        break;
 
      case "COLLECTIONS":
      case "PHOTOS":
        title = page.title + " - " + config.title;
        description = page.title + " " + config.description_short;
        image = config.url + "/photos/normal/" + page.photograph.file;
        break;

      case "POST":
        title = page.title + " - " + config.title;
        //--
        if (page.description) {
          description = page.description;
        } else {
          if (page.subtitle) {
            description = page.subtitle;
          } else {
            description = excerpt;
          }
        }
        //--
        let slugArray = page.slug.split("/"); //due to subfolders
        let slug = slugArray[slugArray.length - 1];
        image = config.url + "/images/social-media/" + slug + ".png";
        break;

      case "NOTE":
        title = page.title + " " + subtype + " - " + config.title;
        //--
        if (page.title === "Notes") {
          description = page.title + " of " + subtype + " " + config.description_short;
        } else {
          if (page.description) {
            description = page.description;
          } else {
            description = excerpt;
          }
        }
        //--
        image = config.url + "/photos/normal/" + page.photograph.file;

      default: 
        break;
    }
  %>
  <!-- <%= type + ((subtype) ? ":" + subtype : "") %> -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= title %></title>
  <meta name="author" content="<%= config.author %>">
  <meta name="title" content="<%= title %>">
  <% if (description) { %>
  <meta name="description" content="<%= description %>">
  <% }%>

  <%#!-- Schema.org for Google --%>
  <meta itemprop="name" content="<%= title %>">
  <% if (description) { %>
  <meta itemprop="description" content="<%= description %>">
  <% } %>
  <meta itemprop="image" content="<%= image %>">

  <%#!-- Open Graph --%>
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:title" content="<%= title %>">
  <% if (description) { %>
  <meta property="og:description" content="<%= description %>">
  <% } %>
  <meta property="og:image" content="<%= image %>">
  <meta property="og:locale" content="en_GB">

  <link rel="canonical" href="<%= url.replace("index.html", "") %>">

  <link rel="icon" href="<%- theme.favicon %>">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <meta name="theme-color" content="#444">

  <%#!-- webmention.io --%>
  <link rel="webmention" href="https://webmention.io/kiko.io/webmention" />
  <link rel="pingback" href="https://webmention.io/kiko.io/xmlrpc" />

  <%#!-- IndieAuth --%>
  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
  
  <%#!-- Feed --%>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>

  <link rel="preload" href="/css/fonts/opensans/opensans-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/opensans/opensans-italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/opensans/opensans-semibold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/opensans/opensans-semibolditalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-It.ttf.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-Bold.ttf.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-BoldIt.ttf.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/fontawesome/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/fontawesome/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/fontawesome/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin>

  <link rel="preload" as="image" href="/images/hero.jpg" imagesrcset="/images/hero-mobile.jpg 480w, /images/hero-tablet.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$404.jpg" imagesrcset="/photos/mobile/$404.jpg 480w, /photos/tablet/$404.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$about.jpg" imagesrcset="/photos/mobile/$about.jpg 480w, /photos/tablet/$about.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$photos.jpg" imagesrcset="/photos/mobile/$photos.jpg 480w, /photos/tablet/$photos.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$projects.jpg" imagesrcset="/photos/mobile/$projects.jpg 480w, /photos/tablet/$projects.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$tiny-tools.jpg" imagesrcset="/photos/mobile/$tiny-tools.jpg 480w, /photos/tablet/$tiny-tools.jpg 768w">

  <%#!-- TODO: dynamic from 2021 to year of today --%>
  <link rel="preload" as="image" href="/photos/normal/$notes-2021.jpg" imagesrcset="/photos/mobile/$notes-2021.jpg 480w, /photos/tablet/$notes-2021.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$notes-2022.jpg" imagesrcset="/photos/mobile/$notes-2022.jpg 480w, /photos/tablet/$notes-2022.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$notes-2023.jpg" imagesrcset="/photos/mobile/$notes-2023.jpg 480w, /photos/tablet/$notes-2023.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$notes-2024.jpg" imagesrcset="/photos/mobile/$notes-2024.jpg 480w, /photos/tablet/$notes-2024.jpg 768w">

  <%- css('css/dist/bundle.min.css') %>
  <%- css('css/style.css') %>

  <%- js('js/tools.js') %>
  <%- js('js/dist/scroll-timeline.js') %>
  <%- js('js/dist/image-compare-viewer.min.js') %>
  <%- js('js/dist/tiny-slider.min.js') %>

<% if (config.pirsch.enabled === true) { %>
  <script defer type="text/javascript" 
    src="https://api.pirsch.io/pirsch.js"
    id="pirschjs"
    data-code="<%= config.pirsch.code %>"></script>
  <script type="text/javascript" 
    src="https://api.pirsch.io/pirsch-events.js"
    id="pirscheventsjs"
    data-code="<%= config.pirsch.code %>"></script>    
<% } %>

</head>
