<header id="header">
  <a href="#" id="header-photo-link" target="_blank" rel="noopener" ></a>
  <div id="banner">
    <div id="header-nav-start"></div>
    <nav id="header-nav" role="navigation">
      <ul class="menu">
        <% for (var i in theme.nav_menu){ %>
          <%
            let cl;
            if (['home', 'search', 'rss'].some(v => i.includes(v))) {
              cl = " menu-item-icon";
            }
          %>
          <li class="menu-item<%= cl %>" id="nav-<%= i%>-link">
            <a class="sub-nav-link"
               href="<%- url_for(theme.nav_menu[i]) %>">
                <span><%= __(i) %></span>
              </a>
          </li>
        <% } %>
      </ul>
    </nav>
    <div id="header-nav-end"></div>
  </div>
  <div id="progress"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
        <a href="<%- url_for() %>" id="logo">
          <h1 id="title-wrap">
            <span style="opacity:0.2;"><%= config.title %></span>
          </h1>
        </a>
      <% if (config.subtitle){ %>
        <h2 id="subtitle">
          <%= config.subtitle %>
        </h2>
        <div id="sub-socialmediaimage-link" onclick="copysocialmediaimageLink();"></div>
        <script>
          function copysocialmediaimageLink() {
            let smil = document.querySelector('meta[property="og:image"]').content;
            copyTextToClipboard(smil);
          }
        </script>
      <% } %>
    </div>
    <div id="header-inner" class="inner">
      <nav id="sub-nav">
        <div id="sub-nav-theme">          
          <input type="checkbox" id="theme-switch">
          <label for="theme-switch"></label>
        </div>
      </nav>
    </div>
  </div>
</header>
<script>
  if (location.pathname === "/") {
    document.getElementById("nav-home-link").remove();
  }
</script>