<header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <a href="#" id="header-photo-link"></a>
    <div id="header-title" class="inner">
      <h1 id="title-wrap">
        <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
      </h1>
      <% if (theme.subtitle){ %>
        <h2 id="subtitle-wrap">
          <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle %></a>
        </h2>
      <% } %>
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"></a>
        <% if (page.path !== "index.html") { %>
          <a class="main-nav-link" id="nav-home-link" href="<%- url_for('/') %>"></a>
        <% } %>
      </nav>
      <nav id="sub-nav">
        <% for (var i in theme.nav_sub){ %>
          <a id="nav-<%= i%>-link" 
             class="nav-icon sub-nav-link"
             href="<%- url_for(theme.nav_sub[i]) %>"
             title="<%= __(i) %>"></a>
        <% } %>
        <a id="nav-search-btn" class="nav-icon" title="<%= __('search') %>"></a>
      </nav>
      <div id="search-form-wrap">
        <%- search_form({button: '&#xF002;'}) %>
      </div>
    </div>
  </div>
</header>