<header id="header">
  <a href="#" id="header-photo-link" rel="noopener" ></a>
  <div id="banner">
    <div id="header-nav-start"></div>
    <nav id="header-nav" role="navigation">
      <ul class="menu">
        <% 
          for (var item in theme.nav_menu) {
            //if (item === 'home') continue;
            let itemText = __(item);
            let itemClass;
            if (['search'].some(v => item.includes(v))) {
              itemClass = " menu-item-icon";
            }
            if (item === 'slashes') itemText = "/" + itemText;
        %>
        <li class="menu-item<%= itemClass %>" id="nav-<%= item %>-link">
          <a class="sub-nav-link"
             href="<%- url_for(theme.nav_menu[item]) %>">
              <span><%= itemText %></span>
            </a>
        </li>
        <% 
          } 
        %>
      </ul>
    </nav>
    <div id="header-nav-end"></div>
  </div>
  <div id="progress"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
        <a href="<%- url_for() %>" id="logo">
          <h1 id="title-wrap">
            <span style="opacity:0.2;"><%= config.title %></span>
          </h1>
        </a>
      <% if (config.subtitle){ %>
        <h2 id="subtitle"><%= config.subtitle %></h2>
      <% } %>
    </div>
    <div id="header-inner" class="inner">
      <nav id="sub-nav">
        <div id="sub-nav-theme">          
          <input type="checkbox" id="theme-switch">
          <label for="theme-switch" title="Switch Color Theme"></label>
        </div>
      </nav>
    </div>
  </div>
</header>