<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
  <%
    var type;
    var subtype;
    var pageTitle = page.title;
    var heroImage = config.heroimage_small;
    var description = config.description;

    if (is_home())     { type = "HOME"; }
    else if (is_post())     { type = "POST"; }
    else if (is_page())     { type = "PAGE"; }
    else if (is_archive())  { type = "ARCHIVE";
      if (is_month())     { subtype = "MONTH"; }
      else if (is_year()) { subtype = "YEAR"; }
    }
    else if (is_category()) { type = "CATEGORY"; }
    else if (is_tag())      { type = "TAG"; }
    else {
      let rootPath = page.path.split(/[\\\/]/)[0].toLowerCase();
      switch (rootPath) {
        case "series":
        case "projects":
          type = "ANYTHING"; 
          subtype = rootPath.toUpperCase();
          break;
        case "notes":
          type = "NOTE"; 
          break;
        default:
          type = rootPath.toUpperCase();
          break;
      }
    }

    // console.log("HEAD: " + type + " = " + subtype + " ... " + page.title);

    switch (type) {
      case "HOME":
        pageTitle = config.subtitle;
        break;

      case "POST":
        let slugArray = page.slug.split("/"); //due to subfolders
        let slug = slugArray[slugArray.length - 1];
        heroImage = config.url + "/images/social-media/" + slug + ".png";
        //TODO: Excerpt, but without HTML tag and just first n words > jsdom.parse?
        description = config.title + "'s Post '" + page.title + "'";
        break;

      case "PAGE":
        heroImage = config.url + "/photos/normal/" + page.photograph.file;
        //TODO: Excerpt, but without HTML tag and just first n words > jsdom.parse?
        description = config.title + "'s Page '" + page.title + "'";
        break;

      case "ARCHIVE":
        pageTitle = __("archive_a");
        description = config.title + "'s " + __("archive_a");

        switch (subtype) {
          case "MONTH":
            pageTitle += ": " + page.year + "/" + page.month;
            break;
          
          case "YEAR":
            pageTitle += ": " + page.year;
            break;

          default: break;
        }
        break;

      case "CATEGORY":
        pageTitle = __("category") + ": " + page.category;
        description = config.title + "'s " + __("category") + " '" + page.category + "'";
        break;

      case "TAG":
        pageTitle = __("tag") + ": " + page.tag;
        description = config.title + "'s " + __("tag") + " '" + page.tag + "'";
        break;

      case "ANYTHING":
        description = config.title + "'s " + subtype;
        if (subtype === "PROJECTS") {
          heroImage = config.url + "/photos/normal/" + page.photograph.file;
        }
        break;

      case "NOTE":
        heroImage = config.url + "/photos/normal/" + page.photograph.file;
        if (page.title === "Notes") {
          description = config.title + "'s NOTES";
        } else {
          description = config.title + "'s Note '" + page.title + "'";
        }

      case "COLLECTIONS":
      case "PHOTOS":
        heroImage = config.url + "/photos/normal/" + page.photograph.file;
        description = config.title + "'s " + type;

      default: break;
    }

    var title = config.title + " | " + pageTitle ;

  %>
  <!-- <%= type + ((subtype) ? ":" + subtype : "") %> -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= title %></title>
  <meta name="title" content="<%= title %>">
  <meta name="description" content="<%= description %>">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="<%= title %>">
  <meta itemprop="description" content="<%= description %>">
  <meta itemprop="image" content="<%= heroImage %>">
  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="<%= heroImage %>">
  <meta property="og:locale" content="en_GB">

  <link rel="canonical" href="<%= url %>">

  <link rel="icon" href="<%- theme.favicon %>">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <meta name="theme-color" content="#454545">

  <!-- webmention.io -->
  <link rel="webmention" href="https://webmention.io/kiko.io/webmention" />
  <link rel="pingback" href="https://webmention.io/kiko.io/xmlrpc" />

  <!-- IndieAuth -->
  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
  
  <!-- Feed -->
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>

  <link rel="preload" href="/css/fonts/cookie/cookie-v12-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/opensans/opensans-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/opensans/opensans-italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/opensans/opensans-semibold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/opensans/opensans-semibolditalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-It.ttf.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-Bold.ttf.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-BoldIt.ttf.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/fontawesome/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/fontawesome/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/fonts/fontawesome/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin>

  <link rel="preload" as="image" href="/images/hero.jpg" imagesrcset="/images/hero-mobile.jpg 480w, /images/hero-tablet.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$404.jpg" imagesrcset="/photos/mobile/$404.jpg 480w, /photos/tablet/$404.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$about.jpg" imagesrcset="/photos/mobile/$about.jpg 480w, /photos/tablet/$about.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$photos.jpg" imagesrcset="/photos/mobile/$photos.jpg 480w, /photos/tablet/$photos.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$projects.jpg" imagesrcset="/photos/mobile/$projects.jpg 480w, /photos/tablet/$projects.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$tiny-tools.jpg" imagesrcset="/photos/mobile/$tiny-tools.jpg 480w, /photos/tablet/$tiny-tools.jpg 768w">

  <!-- TODO: dynamic from 2021 to year of today -->
  <link rel="preload" as="image" href="/photos/normal/$notes-2021.jpg" imagesrcset="/photos/mobile/$notes-2021.jpg 480w, /photos/tablet/$notes-2021.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$notes-2022.jpg" imagesrcset="/photos/mobile/$notes-2022.jpg 480w, /photos/tablet/$notes-2022.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$notes-2023.jpg" imagesrcset="/photos/mobile/$notes-2023.jpg 480w, /photos/tablet/$notes-2023.jpg 768w">
  <link rel="preload" as="image" href="/photos/normal/$notes-2024.jpg" imagesrcset="/photos/mobile/$notes-2024.jpg 480w, /photos/tablet/$notes-2024.jpg 768w">

  <%- css('css/dist/bundle.min.css') %>
  <%- css('css/style.css') %>

  <%- js('js/tools.js') %>
  <%- js('js/dist/scroll-timeline.js') %>
  <%- js('js/dist/image-compare-viewer.min.js') %>
  <%- js('js/dist/tiny-slider.min.js') %>

<% if (config.pirsch.enabled === true) { %>
  <script defer type="text/javascript" 
    src="https://api.pirsch.io/pirsch.js"
    id="pirschjs"
    data-code="<%= config.pirsch.code %>"></script>
  <script type="text/javascript" 
    src="https://api.pirsch.io/pirsch-events.js"
    id="pirscheventsjs"
    data-code="<%= config.pirsch.code %>"></script>    
<% } %>

</head>
