<div class="card photo" 
     data-status="<%- item.status %>" 
     data-type="<%- item.article?.type %>"
     data-file="<%- item.key %>"
     data-title="<%- item.name %>"
     data-date-created="<%- item.meta?.DateTimeOriginal %>">
    <% if (item.article){ %>
    <% if (item.article.type === "draft"){ %>
      <span class="status <%- item.status %> <%- item.article.type %>">Draft <em>&rbarr; <%- item.article.title %>)</em></span>
    <% } else { %>
      <a class="status <%- item.status %> <%- item.article.type %>" href="<%- item.article.url %>"><%- item.article.title %></a>
    <% } %>
  <% } else { %>
    <span class="status <%- item.status %>">Unused</span>
  <% } %>
  <a class="spotlight card-img" href="/<%= config.photo_dir %>/<%= item.key %>"
     data-description="<%- item.key %>&nbsp;&bull;&nbsp;<%- item.status %>"
     data-src="<%- item.pathNormal %>"><img src="<%- item.pathMobile %>" alt="<%- item.name %>" /></a>
  <span class="pre-title">
    <%- item.key %><% if (item.meta?.DateTimeOriginal) { %>, <em><%- new Date(item.meta?.DateTimeOriginal).toLocaleString('en-GB', { month:"long", year:"numeric" }) %></em><% } %>
  </span>
  <% if (item) { %>
    <h3><a href="/<%= config.photo_dir %>/<%= item.key %>" class="h-link"><%- item.name %></a></h3>
  <% } else { %>
    <h3><%- item.name %></h3>
  <% } %>
</div>