<div class="card photo" data-status="<%- item.status %>">
  <% if (item.article){ %>
  <a class="status <%- item.status %> <%- item.article.type %>" href="<%- item.article.url %>"><%- item.article.title %></a>
  <% } else { %>
  <span class="status <%- item.status %>">unused</span>
  <% } %>
  <div class="card-img">
    <img src="<%- item.path %>" alt="<%- item.name %>" />
  </div>
  <span class="pre-title"><%- item.key %>.jpg</span>
  <h3><%- item.name %></h3>
  <a class="icon-link" href="<%- item.link %>">
    <img src="/images/500px.svg" alt="see on 500px" style="height" />
  </a>
</div>