<div class="card photobox">
  <small class="box-period"><%= item.periodString %></small>
  <div class="box-content">
    <a class="box-img" href="/photos/boxes/<%= item.key %>">
      <img loading="lazy" src="<%= item.coverPhoto?.pathMobile %>" alt="<%- item.coverPhoto?.name %>" />
      <span class="box-count"><%= item.photos.length %></span>
    </a>
    <h3><a href="/photos/boxes/<%= item.key %>"><%= item.title %></a></h3>
  </div>
</div>