<div class="card photo" data-status="<%- item.status %>">
  <% if (item.article){ %>
  <a class="status <%- item.status %> <%- item.article.type %>" href="<%- item.article.url %>"><%- item.article.title %></a>
  <% } else { %>
  <span class="status <%- item.status %>">unused</span>
  <% } %>
  <a class="spotlight card-img" 
       data-title="<%- item.name %>"
       data-description="<%- item.key %>&nbsp;&bull;&nbsp;<%- item.status %>"
       data-src="<%- item.pathNormal %>">
    <img src="<%- item.pathMobile %>" alt="<%- item.name %>" />
  </a>
  <span class="pre-title"><%- item.key %></span>
  <h3><%- item.name %></h3>
  <% if (item) { %>
  <a class="icon-link" href="/<%= config.photo_dir %>/<%= item.key %>"></a>
  <% } %>
</div>