<div class="card photo" 
     data-status="<%- item.status %>" 
     data-type="<%- item.type %>"
     data-file="<%- item.key %>"
     data-title="<%- item.name %>"
     data-date-created="<%- item.meta?.DateTimeOriginal %>">

  <% if (item.article){ %>
    <% if (item.type === "draft") { %>
      <span class="status <%- item.status %> <%- item.type %>">Draft <em>&rbarr; <%- item.article.title %></em></span>
    <% } else { %>
      <a class="status <%- item.status %> <%- item.type %>" href="<%- item.article.url %>"><%- item.article.title %></a>
    <% } %>
  <% } else { %>
    <span class="status <%- item.status %> <%- item.type %>">Unused (<%- item.type.charAt(0).toUpperCase() + item.type.slice(1) %>)</span>
  <% } %>
  
  <a class="spotlight card-img" href="/<%= config.photo_dir %>/<%= item.key %>"
     data-title="<%- item.name %>"
     data-description="<%- item.status %>&nbsp;&bull;&nbsp;<%- item.type %>"
     data-src="<%- item.pathNormal %>"
     data-button="Photo Page&nbsp;&nbsp;&#10148;"
     data-button-href="/<%= config.photo_dir %>/<%= item.key %>"
     data-autohide="all">
    <img loading="lazy" src="<%- item.pathMobile %>" alt="<%- item.name %>" />
  </a>
  <span class="pre-title">
    <%- item.key %><% if (item.meta?.DateTimeOriginal || item.meta?.DateCreated) { %>, <em><%- new Date(item.meta?.DateTimeOriginal ?? item.meta?.DateCreated).toLocaleString('en-GB', { month:"long", year:"numeric" }) %></em><% } %>
  </span>
  <% if (item) { %>
    <%  let syndication = item.meta?.custom?.links?.filter(l => l.url?.length > 0).map(s => ({ host: s.site, url: s.url })); %>
    <div class="card-links">
      <%- partial('_partial/post/syndication-links', { syndication: syndication, type: "photo", showText: false }) %>
      <% if (!item.meta?.latitude && !item.meta?.longitude) { %>
      <span class="info-content info-location">
        <img src="/images/icons/location-none.svg" title="no location" />
      </span>
      <% } %>
      <% if (item.meta?.custom?.featured?.slug) { %>
      <span class="info-content info-featured">
        <a class="featured-link" href="/post/<%= item.meta.custom.featured.slug %>">
          <img src="/images/icons/featured.svg" title="featured in <%= item.meta.custom.featured.title %>" />
        </a>
      </span>
      <% } %>
    </div>
    <h3><a href="/<%= config.photo_dir %>/<%= item.key %>" class="h-link"><%- item.name %></a></h3>
  <% } else { %>
    <h3><%- item.name %></h3>
  <% } %>
</div>