<%# console.log('site', JSON.stringify(site.indexes, null, '\t')) %>

<% if (post.series){ %>
    <a class="<%= class_name %>" href="<%- url_for('series/' + slugify(post.series.toLowerCase())) %>"><%= post.series %></a>
<% } %>

<% if (post.project){ %>
    <a class="<%= class_name %>" href="<%- url_for('projects/' + slugify(post.project.toLowerCase())) %>"><%= post.project %></a>
<% } %>

<% if (post.misc){ %>
    <a class="<%= class_name %>" href="<%- url_for(slugify(post.misc.toLowerCase())) %>"><%= post.misc %></a>
<% } %>