<div class="<%= class_name %>" id="article-golem-<%= post._id %>">
    This article appeared first on <a href="https://golem.de">golem.de</a> 
    on <%= date(post.golem.published, 'DD MMM YYYY') %> 
    in German under the title <span style="font-weight:bold;">&laquo;<%= post.golem.title %>&raquo;</span>&nbsp;&nbsp;  
    <a href="<%= post.golem.url %>"><%= post.golem.url %></a>
</div>