<%
    let synArray = [];
    if (post.syndication && post.syndication.length) {
      post.syndication.forEach(function(syn) {
        if (syn.host && syn.url) {
          let wm = config.syndication_hosts.find(h => h.name === syn.host)?.webmention;
          if (wm) {
            synArray.push(`<a class="${syn.host.toLowerCase()}" href="${syn.url}">${syn.host}</a>`);
          }
        }
      });
    }

    let synText = "";
    if (synArray.length > 0) {
      synText = "or by replying to its syndication on " + synArray.join(" or ");
    }

    let commentText = "";
    if (comments) {
      commentText = "... or you leave a good old comment with your GitHub account";
    }
%>

<div class="article-share" data-pagefind-ignore>
  <button onclick="dialog.shareOnMastodon();" class="share mastodon">Share on Mastodon</button>
</div>

<div class="article-interaction" data-pagefind-ignore>
  <p>
    You can interact with this <%= type %> (applause, criticism, whatever) by mention it in one of 
    your posts <%- synText %>, which will also be shown here as a  
    <a href="https://en.wikipedia.org/wiki/Webmention"><em>Webmention</em></a> <%- commentText %>.   
  </p>

  <p class="webmention-form-info">
    In case your blog software can't send Webmentions, you can use this form to submit me a mention 
    of this <%= type %> or rather its URL ...
  </p>

  <form class="webmention-form" action="https://webmention.io/<%- config.title %>>/webmention" name="webmention-form"
    method="post">
    <label for="webmention-form-source">Your Article URL:</label><br>
    <input class="webmention-form-source" type="url" name="source" placeholder="https://your-blog.com/your-article"
      required="">
    <input type="hidden" name="target" value="<%= encodeURI(post.permalink) %>">
    <input type="submit" value="Send Webmention">
  </form>

</div>

<div class="article-webmentions" data-pagefind-ignore>
  <h2>Webmentions</h2>

  <div class="webmentions-placeholder">
    <p class="wm-placeholder">No Webmentions yet...</p>
  </div>

  <script>
    window.addEventListener('load', function () {
      insertWebmentions('<%- post.slug %>', '<%- config.url %>', '<%- config.author %>');
    });
  </script>

  <% if (post.alias){ %>
  <input type="hidden" name="alias" value="<%- config.url + post.alias.replace('index.html', '') %>">
  <% } %>

</div>

<% if (comments) { %>
<div class="article-comments" data-pagefind-ignore>
  <h2>Comments</h2>
  <div id="comment-placeholder"></div>
  <script>
    window.addEventListener('load', function () {
      insertUtterancesCommentBlock();
    });
  </script>
</div>
<% } %>