<%
  let syndications = post.syndication?.filter(s => s.url?.length > 0 && s.host?.length > 0)
  let synGitHub = syndications?.find(s => s.host.toLowerCase() === "github");
  let synDevTo = syndications?.find(s => s.host.toLowerCase() === "devto");
  let synPixelfed = syndications?.filter(s => s.host.toLowerCase() === "pixelfed");
  let synLemmy = syndications?.filter(s => s.host.toLowerCase() === "lemmy");
  let synVernissage = syndications?.filter(s => s.host.toLowerCase() === "vernissage");
  let synPeertube = syndications?.filter(s => s.host.toLowerCase() === "peertube");
%>

<div id="webmention" class="article-extra" data-pagefind-ignore>
  <h2>Webmentions</h2>
  <form class="webmention-form" name="webmention-form" method="post"
        action="https://webmention.io/<%- config.title %>/webmention">
    <p>
      You can interact with this <%= type %> by mentioning it in one of your posts 
      and sending a <a href="https://indieweb.org/Webmention">Webmention</a>, 
      if your blog software supports it. Alternatively, you can either send it 
      via <a href="https://webmention.app/check" target="_blank">webmention.app</a> 
      or <a href="https://telegraph.p3k.io/" target="_blank">Telegraph</a> 
      or this form:
    </p>
    <input class="webmention-form-source" type="url" name="source" 
           placeholder="https://your-blog.com/your-article"
           required="">
    <input type="hidden" name="target" value="<%= encodeURI(post.permalink) %>">
    <input type="submit" value="Send Webmention">
  </form>
  <% if (syndications?.length > 0) { %>
  <p>However, you can also respond (comment, like, reply) to one of the following ...</p>
  <% } %>
</div>

<div id="syndication" class="article-extra" data-pagefind-ignore>
  <h2>Syndications</h2>
  <% if (syndications?.length > 0) { %>
    <div id="syndication-wrapper">
      <%- partial('syndication-links', { syndication: syndications, type: type, showText: true }) %>
    </div>
    <p>Webmentions and (most) responses will be shown here as ...</p>
  <% } else { %>
    <p class="info">
    <% if (post.isLocale) { %>
      Diese Seite ist lediglich die Übersetzung des <a href="<%= url_for(post.path).replace('/de', '') %>">englischen Originalbeitrags</a>. 
      Alle Syndizierungen und Interaktionen findest Du dort...
    <% } else if (post.hasLocale) { %>
      This page is merely a translation of a <a href="<%= url_for(post.path + '/de') %>""> German post</a>. 
      You can find all syndication and interactions there...       
    <% } else { %>
      There are no syndications on other platforms of this post yet.
    <% } %>
    </p>
  <% } %>
</div>

<div id="interactions" class="article-extra" data-pagefind-ignore>
  <h2>Interactions</h2>
  <div class="message loading">Loading</div>

  <div id="interactions-likes-placeholder"></div>
  <div id="interactions-reposts-placeholder"></div>
  <div id="interactions-bookmarks-placeholder"></div>
  <div id="interactions-grouplist-placeholder"></div>
  <div id="interactions-summaryline-placeholder"></div>

  <%- js('js/mentions-united.js') %>
  <%- js('js/mentions-united-provider_webmentions.js') %>
  <%- js('js/mentions-united-renderer_total-number.js') %>
  <%- js('js/mentions-united-renderer_avatars-by-type.js') %>
  <%- js('js/mentions-united-renderer_grouplist-by-origin.js') %>
  <%- js('js/mentions-united-renderer_summary-line.js') %>
  <% if (synGitHub) { %><%- js('js/mentions-united-provider_github.js'); %><% } %>
  <% if (synDevTo) { %><%- js('js/mentions-united-provider_devto.js'); %><% } %>
  <% if (synPixelfed?.length > 0) { %><%- js('js/mentions-united-provider_pixelfed.js'); %><% } %>
  <% if (synLemmy?.length > 0) { %><%- js('js/mentions-united-provider_lemmy.js'); %><% } %>
  <% if (synVernissage?.length > 0) { %><%- js('js/mentions-united-provider_vernissage.js'); %><% } %>
  <% if (synPeertube?.length > 0) { %><%- js('js/mentions-united-provider_peertube.js'); %><% } %>

  <script>
    window.addEventListener('load', function () {
      bindWebmentionSending("webmention-form");

      const mentionsUnited = new MentionsUnited({ 
          ownerName: "<%- config.author %>" 
        }, 
        [
          new MentionsUnitedProvider_Webmentions({ 
            originalUrl: "<%- post.permalink %>",
            tryResolveTitle: true,
            skipOrigins: "github"
          }),
          new MentionsUnitedRenderer_TotalNumber({
            placeholderId: "interactions-totalnumber-placeholder",
            pageKey: "<%- post.slug %>",
            anchorTargetId: "interactions",
            afterRender: () => { initScrollAnchorLink(".interactions-totalnumber", 80); }
          }),
          new MentionsUnitedRenderer_AvatarsByType({
            placeholderId: "interactions-likes-placeholder",
            typeVerb: "like"
          }),
          new MentionsUnitedRenderer_AvatarsByType({
            placeholderId: "interactions-reposts-placeholder",
            typeVerb: "repost"
          }),
          new MentionsUnitedRenderer_AvatarsByType({
            placeholderId: "interactions-bookmarks-placeholder",
            typeVerb: "bookmark"
          }),
          new MentionsUnitedRenderer_GroupListByOrigin({
            placeholderId: "interactions-grouplist-placeholder",
            skipTypes: "like,repost,bookmark"
          }),
          new MentionsUnitedRenderer_SummaryLine({
            placeholderId: "interactions-summaryline-placeholder"
          })
        ]);

      <% if (synGitHub) { %>
      mentionsUnited.register(new MentionsUnitedProvider_GitHub({ 
        syndicationUrl: "<%- synGitHub.url %>",
        apiBaseUrl: "<%- config.api_proxy_base_url %>/github"
      }));
      <% } %>

      <% if (synDevTo) { %>
      mentionsUnited.register(new MentionsUnitedProvider_DevTo({ 
        syndicationUrl: "<%- synDevTo.url %>", 
        syndicationId: <%- synDevTo.id ?? 0 %> 
      }));
      <% } %>

      <% synPixelfed?.forEach(syn => { %>
      mentionsUnited.register(new MentionsUnitedProvider_Pixelfed({ 
        syndicationUrl: "<%- syn.url %>",
        syndicationTitle: "<%- syn.title %>",
        apiBaseUrl: "<%- config.api_proxy_base_url %>/pixelfed"
      }));
      <% }); %>

      <% synLemmy?.forEach(syn => { %>
      mentionsUnited.register(new MentionsUnitedProvider_Lemmy({ 
        syndicationUrl: "<%- syn.url %>",
        syndicationCommunity: "<%- syn.title %>"
      }));
      <% }); %>

      <% synVernissage?.forEach(syn => { %>
      mentionsUnited.register(new MentionsUnitedProvider_Vernissage({ 
        syndicationUrl: "<%- syn.url %>",
        syndicationTitle: "<%- syn.title %>"
      }));
      <% }); %>

      <% synPeertube?.forEach(syn => { %>
      mentionsUnited.register(new MentionsUnitedProvider_Peertube({ 
        syndicationUrl: "<%- syn.url %>",
        syndicationTitle: "<%- syn.title %>"
      }));
      <% }); %>

      mentionsUnited.load()
        .then(() => { 
          return mentionsUnited.show(); 
        })
        .then((count) => { 
          let msg = document.querySelector("#interactions .message");
          if (count === 0) {
            msg.classList.remove("loading");
            msg.innerHTML = "Nothing to show yet";
          } else {
            msg.remove();
          }
         });
    });
  </script>

  <% if (post.alias){ %>
  <input type="hidden" name="alias" value="<%- config.url + post.alias.replace('index.html', '') %>">
  <% } %>

</div>
