<%
  let syndications = post.syndication?.filter(s => s.url?.length > 0 && s.host?.length > 0)
  let synDevTo = syndications?.find(s => s.host.toLowerCase() === "devto");
  let synLinks = [];
  let synText = "";

  if (syndications?.length > 0) {
    syndications.forEach(function(syn) {
      let wm = config.syndication_hosts.find(h => h.name === syn.host)?.webmention;
      if (wm) {
        synLinks.push(`<a class="${syn.host.toLowerCase()}" href="${syn.url}">${syn.host}</a>`);
      }
    });
    if (synLinks.length > 0) {
      synText = " or by replying to its syndication on " + synLinks.join(" or ");
    }
  }
%>

<div class="article-share" data-pagefind-ignore>
  <button onclick="dialog.shareOnMastodon();" class="share mastodon">Share on Mastodon</button>
</div>

<% if (syndications?.length > 0) { %>
<div class="article-syndication" data-pagefind-ignore>
  <h2>Syndication</h2>
  <div class="syndication-wrapper">
    <%- partial('syndication-links', { syndication: syndications, type: type, text: true }) %>
  </div>
</div>
<% } %>

<div class="article-interaction" data-pagefind-ignore>
  <p>
    You can interact with this <%= type %> (applause, criticism, whatever) by mention it in one of 
    your posts<%- synText %>, which will be shown here as a  
    <a href="https://en.wikipedia.org/wiki/Webmention"><em>Webmention</em></a>.   
  </p>

  <form class="webmention-form" name="webmention-form" method="post"
        action="https://webmention.io/<%- config.title %>/webmention">
    <p>
      In case your blog software can't send Webmentions, you can use this form 
      or send it manually via <a href="https://webmention.app/check" target="_blank">webmention.app</a> 
      or <a href="https://telegraph.p3k.io/" target="_blank">Telegraph</a>:
    </p>
    <input class="webmention-form-source" type="url" name="source" 
           placeholder="https://your-blog.com/your-article"
           required="">
    <input type="hidden" name="target" value="<%= encodeURI(post.permalink) %>">
    <input type="submit" value="Send Webmention">
  </form>

</div>

<div class="article-webmentions" data-pagefind-ignore>
  <h2>Webmentions</h2>

  <div class="webmentions-placeholder">
    <p class="wm-placeholder">No Webmentions yet...</p>
  </div>

  <%- js('js/mentions-united.js') %>
  <%- js('js/mentions-united_webmentions.js') %>
  <% if (synDevTo) { %><%- js('js/mentions-united_devto.js'); %><% } %>

  <script>
    window.addEventListener('load', function () {
      bindWebmentionSending("webmention-form");
      insertWebmentions('<%- post.slug %>', '<%- config.url %>', '<%- config.author %>');
    });
  </script>

  <% if (post.alias){ %>
  <input type="hidden" name="alias" value="<%- config.url + post.alias.replace('index.html', '') %>">
  <% } %>

</div>
