<% if (post.prev || post.next){ %>
<nav id="article-nav">
  <% if (post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" 
       class="article-nav-link">
      <strong><%= __('newer') %></strong>
      <span>
      <% if (post.prev.title){ %>
        <%= post.prev.title %>
      <% } else { %>
        (no title)
      <% } %>
      </span>
    </a>
  <% } %>
  <% if (post.next){ %>
    <a href="<%- url_for(post.next.path) %>" id="article-nav-older" 
       class="article-nav-link">
      <strong><%= __('older') %></strong>
      <span><%= post.next.title %></span>
    </a>
  <% } %>
</nav>
<% } %>