<div class="<%= class_name %>" id="article-permalink-<%= post._id %>">
    <input class="article-permalink-value" value="<%- post.permalink %>" 
           data-id="<%= post._id %>" data-title="<%= post.title %>" />
    <a class="article-action action-copy"></a>
    <a class="article-action action-share"></a>
</div>
<script>
    window.addEventListener("load", () => {
        initPermalink("<%= post._id %>");
    });
</script>
