<% if (post.photograph){ %>
  <a href="<%- url_for(post.path.replace("/index.html", "")) %>">
    <img class="<%= class_name %>" src="/photos/<%= size %>/<%= post.photograph.file %>" alt="<%= post.photograph.name %>" />
  </a>
<% } %>