<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <id><%= config.url + "/" %></id>
    <title><%= config.title %><%= tag ? ` • Posts by "${tag}" tag` : '' %><%= category ? ` • Posts by "${category}" category` : '' %></title>
    <%_ if (config.subtitle) { _%><subtitle><%= config.subtitle %></subtitle><%_ } _%>
    <%_ if (config.feed.icon) { _%><icon><%= config.feed.icon %></icon><%_ } _%>
    <%_ if (config.feed.logo) { _%><logo><%= config.feed.logo %></logo><%_ } _%>
    <link><%= config.url %></link>
    <atom:link href="<%= config.url %>/atom.xml" rel="self" type="application/rss+xml"/>
    <updated><%= moment(lastBuildDate).toISOString() %></updated>
    <author>
        <name><%= config.author %></name>
        <%_ if (config.email) { _%><email><%= config.email %></email><%_ } _%>
    </author>
    <generator uri="https://hexo.io/">Hexo</generator>
    <%_ for (const category of (categories || [])) { _%>
    <category term="<%= category.name %>" scheme="<%= config.url + '/' + category.path %>" />
    <%_ } _%>
    <%_ for (const tag of (tags || [])) { _%>
    <category term="<%= tag.name %>" scheme="<%= config.url + '/' + tag.path %>" />
    <%_ } _%>
    <%_ for (const post of posts) { _%>
    <entry>
        <id><%= post.permalink %></id>
        <%_ if (post.dateOriginal) { _%>
            <title>Updated: <%= post.title %></title>
            <published><%= moment(post.dateOriginal).toISOString() %></published>
            <updated><%= moment(post.date).toISOString() %></updated>
        <%_ } else { _%>
            <title><%= post.title %></title>
            <published><%= moment(post.date).toISOString() %></published>
            <updated><%= moment(post.date).toISOString() %></updated>
        <%_ } _%>
        <link href="<%= post.permalink %>"/>
        <summary type="html">
            <%_ const regEx = /<(script|style)[^>]*>(?<content>[^<]*)<\/(script|style)>/gim; _%>
            <%_ let shortContent = post.excerpt.replace(regEx, "") _%>
            <%_ shortContent = shortContent + '<p><a href="' + post.permalink + '">Read more on kiko.io ...</a></p>' _%>
            <%_ if (post.photograph) { shortContent = '<p><img src="' + config.url + '/photos/mobile/' + post.photograph.file + '" /></p>' + shortContent } _%>
            <%= shortContent %>
        </summary>
        <content type="html">
            <%= post.content %>
        </content>
        <%_ for (const category of (post.categories ? post.categories.toArray() : [])) { _%>
        <category term="<%= category.name %>" scheme="<%= config.url + '/' + category.path %>" />
        <%_ } _%>
        <%_ for (const tag of (post.tags ? post.tags.toArray() : [])) { _%>
        <category term="<%= tag.name %>" scheme="<%= config.url + '/' + tag.path %>" />
        <%_ } _%>
            
    </entry>
    <%_ } _%>
</feed>
