<hr>
<div class="cardlink-container">
  <a class="cardlink-card" href="{{url}}">
    <div class="cardlink-main">
      <div class="cardlink-title">{{title}}</div>
      <div class="cardlink-description">{{description}}</div>
      <div class="cardlink-host">
        {{#if favicon}}<img class="cardlink-favicon no-zoom" src="{{favicon}}" />{{/if}}
        <span>{{host}}</span>
        </div>
    </div>
    {{#if image}}<div class="cardlink-thumbnail" style="background-image: url({{image}})"></div>{{/if}}
  </a>
</div>