<hr>
<div class="auto-card-link-container">
  <a class="auto-card-link-card" href="{{url}}">
    <div class="auto-card-link-main">
      <div class="auto-card-link-title">{{title}}</div>
      <div class="auto-card-link-description">{{description}}</div>
      <div class="auto-card-link-host">
        {{#if favicon}}<img class="auto-card-link-favicon no-zoom" src="{{favicon}}" />{{/if}}
        <span>{{host}}</span>
        </div>
    </div>
    {{#if image}}<div class="auto-card-link-thumbnail" style="background-image: url({{image}})"></div>{{/if}}
  </a>
</div>