<div class="auto-card-link-container">
  <a class="auto-card-link-card" href="{{url}}">
    <div class="auto-card-link-main">
      <div class="auto-card-link-title">{{title}}</div>
      <div class="auto-card-link-description">{{description}}</div>
      <div class="auto-card-link-host">
        {{#if favicon}}<img class="auto-card-link-favicon no-zoom" src="{{favicon}}" />{{/if}}
        {{#if host}}<span>{{host}}</span>{{/if}}
        </div>
    </div>
    {{#if image}}<img class="auto-card-link-thumbnail" src="{{image}}" />{{/if}}
  </a>
</div>