<?xml version="1.0"?>
<rss version="2.0">
  <channel>
    <title><%= config.title %> Posts</title>
    <link><%= config.url %></link>
    <image>
      <url><%= config.url + "/" + config.feed.logo %></url>
      <title><%= config.title %> Posts</title>
      <link><%= config.url %></link>
    </image>
    <description><%= config.description %></description>
    <language><%= config.language %></language>
    <pubDate><%= moment(lastPublishedPostDate).locale('en').format('ddd, DD MMM YYYY HH:mm:ss ZZ') %></pubDate>
    <lastBuildDate><%= moment(lastBuildDate).locale('en').format('ddd, DD MMM YYYY HH:mm:ss ZZ') %></lastBuildDate>
    <%_ for (const category of (categories || [])) { _%>
    <category><%= category.name %></category>
    <%_ } _%>
    <%_ for (const tag of (tags || [])) { _%>
    <category><%= tag.name %></category>
    <%_ } _%>
    <%_ for (const item of items) { _%>
    <item>
      <guid isPermalink="true"><%= item.permalink %></guid>
      <title><%= item.title %></title>
      <link><%= item.permalink %></link>
      <%_ for (const category of (item.categories ? (Array.isArray(item.categories) ? item.categories : item.categories.toArray()) : [])) { _%>
      <category><%= category.name %></category>
      <%_ } _%>
      <%_ for (const tag of (item.tags ? item.tags.toArray() : [])) { _%>
      <category><%= tag.name %></category>
      <%_ } _%>
      <pubDate><%= moment(item.date).locale('en').format('ddd, DD MMM YYYY HH:mm:ss ZZ') %></pubDate>
      <description>
        <![CDATA[ <%= item.content %> ]]>
      </description>
    </item>
    <%_ } _%>
  </channel>
</rss>