<%_
  const updated = (post) => {
    let pub = moment(post.date).toISOString();
    let upd = moment(post.updated).toISOString();
    return (pub === upd) ? null : upd;
  }
  const slug = (post) => {
    let slugArray = post.slug.split("/");
    let slug = slugArray[slugArray.length - 1];
    return slug;
  }

  const regEx = /<(script|style)[^>]*>(?<content>[^<]*)<\/(script|style)>/gim;
  const content = (post) => {
    let fc = post.excerpt.replace(regEx, "");
    fc = fc + '<p><a href="' + post.permalink + '">Continue reading <strong>`' + post.title + '`</strong> on kiko.io ...</a></p>';
    if (post.photograph) { fc = '<p><img src="' + config.url + '/images/social-media/' + slug(post) + '.png" /></p>' + fc; }
    return fc;
  }
_%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id><%= config.url + "/" %></id>
  <title><%= config.title %> Posts</title>
  <subtitle><%= config.subtitle %></subtitle>
  <icon><%= config.url + "/" + config.feed.icon %></icon>
  <logo><%= config.url + "/" + config.feed.logo %></logo>
  <link href="<%= config.url %>" />
  <link href="<%= config.url %>/<%= output %>" rel="self" type="application/rss+xml" />
  <updated><%= moment(lastBuildDate).toISOString() %></updated>
  <author>
    <name><%= config.author %></name>
    <%_ if (config.email) { _%>
    <email><%= config.email %></email>
    <%_ } _%>
  </author>
  <generator uri="https://hexo.io/">Hexo</generator>
  <%_ for (const category of (categories || [])) { _%>
  <category term="<%= category.name %>" scheme="<%= config.url + '/' + category.path %>" />
  <%_ } _%>
  <%_ for (const tag of (tags || [])) { _%>
  <category term="<%= tag.name %>" scheme="<%= config.url + '/' + tag.path %>" />
  <%_ } _%>
  <%_ for (const post of posts) { _%>
  <entry>
    <id><%= post.permalink %></id>
    <title><%= (post.updated > post.date) ? "Updated: ":"" + post.title %></title>
    <published><%= moment(post.date).toISOString() %></published>
    <updated><%= updated(post) %></updated>
    <link href="<%= post.permalink %>"/>
    <%_ if (post.photograph) { _%>
    <media:thumbnail xmlns:media="http://search.yahoo.com/mrss/" url="<%= config.url + '/images/social-media/' + slug(post) + '.thumb.png' %>" height="1200" width="630" />
    <%_ } _%>
    <content type="html"><%= content(post) %></content>
    <%_ for (const category of (post.categories ? post.categories.toArray() : [])) { _%>
    <category term="<%= category.name %>" scheme="<%= config.url + '/' + category.path %>" />
    <%_ } _%>
    <%_ for (const tag of (post.tags ? post.tags.toArray() : [])) { _%>
    <category term="<%= tag.name %>" scheme="<%= config.url + '/' + tag.path %>" />
    <%_ } _%>
  </entry>
  <%_ } _%>
</feed>