<%_
  const updated = (item) => {
    let pub = moment(item.date).toISOString();
    let upd = moment(item.updated).toISOString();
    return (pub === upd) ? null : upd;
  }
  const imageSource = (item) => {
    if (item.photograph) {
      if (item.photograph.socialmedia) {
        return config.url + item.photograph.socialmedia
          .replace("/static", "")
          .replace(".png", ".thumb.png");
      } else {
        return config.url + "/photos/mobile/" + item.photograph.file;
      }
    }
  }

  const regEx = /<(script|style)[^>]*>(?<content>[^<]*)<\/(script|style)>/gim;
  const content = (item) => {
    let fc = item.content.replace(regEx, "");
    if (item.photograph) { fc = '<p><img src="' + imageSource(item) + '" /></p>' + fc; }
    return fc;
  }
_%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id><%= config.url + "/" %></id>
  <title><%= config.title %> Posts</title>
  <subtitle><%= config.subtitle %></subtitle>
  <icon><%= config.url + "/" + config.feed.icon %></icon>
  <logo><%= config.url + "/" + config.feed.logo %></logo>
  <link href="<%= config.url %>" />
  <link href="<%= config.url %>/<%= output %>" rel="self" type="application/rss+xml" />
  <updated><%= moment(lastBuildDate).toISOString() %></updated>
  <author>
    <name><%= config.author %></name>
    <%_ if (config.email) { _%>
    <email><%= config.email %></email>
    <%_ } _%>
  </author>
  <generator uri="https://hexo.io/">Hexo</generator>
  <%_ for (const category of (categories || [])) { _%>
  <category term="<%= category.name %>" scheme="<%= config.url + '/' + category.path %>" />
  <%_ } _%>
  <%_ for (const tag of (tags || [])) { _%>
  <category term="<%= tag.name %>" scheme="<%= config.url + '/' + tag.path %>" />
  <%_ } _%>
  <%_ for (const item of items) { _%>
  <entry>
    <id><%= item.permalink %></id>
    <title><%= (item.updated > item.date) ? "Updated: ":"" + item.title %></title>
    <published><%= moment(item.date).toISOString() %></published>
    <updated><%= updated(item) %></updated>
    <link href="<%= item.permalink %>"/>
    <%_ if (item.photograph) { _%>
    <media:thumbnail xmlns:media="http://search.yahoo.com/mrss/" url="<%= imageSource(item) %>" height="1200" width="630" />
    <%_ } _%>
    <content type="html"><%= content(item) %></content>
    <%_ for (const category of (item.categories ? (Array.isArray(item.categories) ? item.categories : item.categories.toArray()) : [])) { _%>
    <category term="<%= category.name %>" scheme="<%= config.url + '/' + category.path %>" />
    <%_ } _%>
    <%_ for (const tag of (item.tags ? item.tags.toArray() : [])) { _%>
    <category term="<%= tag.name %>" scheme="<%= config.url + '/' + tag.path %>" />
    <%_ } _%>
  </entry>
  <%_ } _%>
</feed>
