---
slug: {{{key}}}
title: "{{{title}}}"
subtitle:
date: {{{date}}}
photograph:
  file: {{{photograph.file}}}
  name: {{{photograph.name}}}
  socialmedia: /static/images/social-media/{{{key}}}.jpg
series: Link Journal
categories:
  - Collection
tags:
  - Links
related:
  - Link-Journal-26-xx
  - Link-Journal-26-yy
  - Link-Journal-26-zz
syndication:
  - host: GitHub
    url: 
  - host: Bubbles
    url: 
  - host: Mastodon
    url: 
---

Over the past month of {{period.month}}, I've collected {{count}} links for my journal:

<!-- more -->

<div class="linkjournal">
{{#each items}}
{% linkjournal "{{{key}}}" "{{{title}}}" "{{{created}}}" "{{{tags}}}" "{{{url}}}" "{{{host}}}" "{{{favicon}}}" "{{{image}}}" %}
{{{description}}}
---
{{{content}}}
{% endlinkjournal %}

{{/each}}
</div>