<?xml version="1.0" encoding="UTF-8"?>
<opml version="1.0">
	<head>
		<title>kiko.io's Blogroll</title>
		<dateCreated>{{{updated}}}</dateCreated>
	</head>
	<body>
    {{#each items}}
		<outline text="{{title}}" title="{{title}}" type="rss" xmlUrl="{{feed}}" htmlUrl="{{url}}"/>
    {{/each}}
	</body>
</opml>
