<?xml version="1.0" encoding="UTF-8"?>
<opml version="1.0">
	<head>
		<title>{{designation}}</title>
		<dateCreated>{{toISOString date}}</dateCreated>
		{{#if updated}}
		<dateModified>{{toISOString updated}}</dateModified>
		{{/if}}
		<ownerName>{{owner.name}}</ownerName>
		<ownerEmail>{{owner.email}}</ownerEmail>
		<ownerId>{{owner.id}}</ownerId>
		<docs>{{docs}}</docs>
	</head>
	<body>
    {{#each items}}
		<outline text="{{title}}" title="{{title}}" type="rss" xmlUrl="{{feed}}" htmlUrl="{{url}}"/>
    {{/each}}
	</body>
</opml>
