<?xml version="1.0" encoding="UTF-8"?>
<opml version="1.0">
	<head>
		<title>kiko.io's Blogroll</title>
		{{#if updated}}
		<dateCreated>{{toISOString updated}}</dateCreated>
		{{else}}
		<dateCreated>{{toISOString date}}</dateCreated>
		{{/if}}
	</head>
	<body>
    {{#each items}}
		<outline text="{{title}}" title="{{title}}" type="rss" xmlUrl="{{feed}}" htmlUrl="{{url}}"/>
    {{/each}}
	</body>
</opml>
