<div class="photo-masonry" id="photo-masonry-{{rnd}}">
  {{#each items}}
    <div>
      <a class="spotlight" 
        {{#if isPhoto}}
          href="/photos/{{photoName}}"
          data-button="Photo Page&nbsp;&nbsp;&#10148;"
          data-button-href="/photos/{{photoName}}"
        {{/if}}
          data-description="{{title}}&nbsp;&bull;&nbsp;{{type}}"
          data-src="{{urlNormal}}">
        <img src="{{urlMobile}}" />
      </a>
    </div>
  {{/each}}
</div>
<script>
  let macy_{{rnd}} = new Macy({
    container: '#photo-masonry-{{rnd}}',
    trueOrder: false,
    waitForImages: false,
    useOwnImageLoader: false,
    debug: true,
    mobileFirst: true,
    columns: 2,
    margin: {
      y: 6,
      x: 6
    },
    breakAt: {
      980: {
        margin: {
          x: 8,
          y: 8
        },
        columns: 3
      },
      768: 2,
      640: 3
    }
  });
  Spotlight.init();
</script>