<%- js('js/dist/qr-code-styling.js') %>
<%- json({
  src: 'js/dist/qr-code-styling-options-contact.json', 
  id: 'qr-code-styling-options'
}) %>

<% if (page.photograph){ %>
  <%- partial('_partial/photograph') %>
<% } %>

<h1 class="page-title"><%= page.title %></h1>
<% if (page.subtitle) { %>
<h2 class="page-subtitle"><%= page.subtitle %></h2>
<% } %>

<div class="page-content">
  <%- page.content %>
</div>

<script>
  console.log("go...");

  //--- eval url hash on load
  var hash = window.location.hash.substr(1);
  if (hash.toLowerCase() === "contact") { 
    window.addEventListener('load', function () {
      showContact();
    })
  }
  //--- set link
  var elm = document.getElementById("contact-Link");
  elm.onclick = function(e) {
    e.preventDefault();
    //(history.pushState) ? history.pushState(null, null, '#contact') : location.hash = '#contact';
    showContact();
  }
  //--- show dialog
  function showContact() {
    var content = document.getElementById("contact-dialog").content.cloneNode(true);
    
    dialog.base.init({
      headerText: "Contact",
      distance: 20,
      width: "min(700px, 100%)",
      contentTransparency: 0.33
    });
    let jContent = $(content);

    jContent.find(".contact-card").click(function(e) {
      if(e.target.tagName !== 'A') {
        $(this).toggleClass("is-flipped");
      }
    });
    
    dialog.base.content.append(jContent);
    
    // Get options and generate qrcode
    (async () => {
      const response = await fetch(document.getElementById('qr-code-styling-options').src);
      const json = await response.json();    
      let qrCode = new QRCodeStyling(json);
      qrCode.append(document.getElementById("contact-qrcode"));      
    })(); //immediately invoked async function
    
    dpDialog.base.show();
  }
</script>

<style>
  /* https://3dtransforms.desandro.com/card-flip */
  .contact-content {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    perspective: 600px;
    display: grid;
    background-color: transparent;
    /* margin-top: -1px; HACK */
  }
  .contact-card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    transform-origin: center right;
  }
  .contact-card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  .contact-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgba(255,255,255,0.9);
    padding-top: max(40px, 3%);
    padding-right: 5%;
    padding-bottom: max(80px, 3%);
    padding-left: 5%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .contact-face.face-front {
    padding-left: 0%;
  }
  @media screen and (max-width: 700px) {
    .contact-face.face-front { 
      padding-left: 5%;
    }
  }
  [data-theme="dark"] .contact-face { 
    background: rgba(51,51,51,0.9);
  }
  .contact-face-wrapper {
    /* border: 1px red solid; */
    margin: 0 auto;
    width: fit-content;
  }
  .contact-face.face-front .contact-face-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: max-content auto 1fr;
    grid-template-areas: 
      "photo header" 
      "photo divider"
      "photo info";
    grid-gap: 3% 3vw;
  }
  @media screen and (max-width: 700px) {
    .contact-face.face-front .contact-face-wrapper {
      grid-template-areas: 
        "photo header"
        "divider divider" 
        "info info";
    }
  }
  .contact-face .contact-face-flip {
    background-color: rgb(237 232 220 / 42%);
    color: rgb(201 194 175);
    position: absolute;
    bottom: -80px;
    box-sizing: border-box;
    border-radius: 100% 100% 0 0;
    width: 100%;
    height: 150px;
    padding-top: 30px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: -5%;
  }
  .contact-face.face-front .contact-face-flip {
    margin-left: 0;
  }
  @media screen and (max-width: 700px) {
    .contact-face.face-front .contact-face-flip { 
      margin-left: -5%
    }
  }
  [data-theme="dark"] .contact-face .contact-face-flip { 
    background-color: rgb(79 73 62 / 42%);
    color: rgb(113 105 92);
  }
  .contact-face.face-front .photo {
    grid-area: photo;
    width: clamp(80px, 15vw, 120px);
    border-radius: 50%;
    box-shadow: rgb(237 232 220 / 42%) 77px 65px 0px 52px;
  }
  [data-theme="dark"] .contact-face.face-front .photo {
    box-shadow: rgb(79 73 62 / 42%) 77px 65px 0px 52px;
  }
  .contact-face.face-front .header {
    grid-area: header;
  }
  .contact-face.face-front hr.divider {
    grid-area: divider;
    margin: 1vh 0;
  }
  .contact-face.face-front .info {
    grid-area: info;
  }
  .contact-face h3 {
    font-size: clamp(1.25rem, 3vw, 1.75rem);
    font-weight: 600;
  }
  .contact-face h4 {
    font-size: clamp(1.1rem, 3vw, 1.5rem);
    font-weight: 100;
  }
  .contact-face.face-front label {
    font-weight: 200;
  }
  .contact-face.face-front p {
    padding: 2% 0;
    white-space: nowrap;
    line-height: 16px;
  }
  .contact-face.face-front .header p {
    padding-top: 4%;
  }
  .contact-face.face-front .header p.download {
    padding-top: 8%;
    padding-bottom: 0;
  }
  @media screen and (max-width: 600px) {
    .contact-face.face-front p {
      padding: 2.4% 0;
    }
  }
  .contact-face.face-front a { 
    display: inline-block;
    color: inherit;
    padding: 4px 6px;
    text-decoration: none;
    font-size: 15px;
  }
  .contact-face.face-front a:before { 
    margin-right: 6px;
  }
  .contact-face.face-back {
    transform: rotateY(180deg);
  }
  .contact-face.face-back hr.divider {
    margin: 10%;
  }
  .contact-face.face-back img.qrcode {
    border-radius: 14px;
  }
  [data-theme="dark"] .contact-face.face-back .qrcode {
    background-color: #ddd;
  }
</style>

<template id="contact-dialog">
  <div class="contact-content">
    <div class="contact-card">
      <div class="contact-face face-front">
        <div class="contact-face-wrapper">
          <img class="photo" src="<%- config.photo %>" alt="<%- config.author %>">
          <div class="header">
            <h3><%- config.author %></h3>
            <h4>Developer & Team Lead</h4>
            <p>Wiesbaden, Germany</p>
            <p class="download">
              <label>Save my contact by<br>downloading my</label>
              <a href="/kristof-zerbe.vcf" download="kristof-zerbe.vcf" class="fa-icon-download">vCard</a>  
            </p>
          </div>
          <hr class="divider">
          <div class="info">
            <p>
              <label>Mail me at</label>
              <a href="mailto:kristof.zerbe@gmail.com" class="fa-icon-mail">kristof.zerbe@gmail.com</a>    
            </p>
            <p>
              <label>Call me at</label>
              <a href="tel:+491716998867" class="fa-icon-phone">+49 171 6998867</a>  
            </p>
            <p>
              <label>Connect with me via</label>
              <a href="https://www.linkedin.com/in/kristof-zerbe-91012510/" class="fa-icon-linkedin">LinkedIn</a>
            </p>
            <p>
              <label>Connect with me via</label>
              <a href="https://www.xing.com/profile/Kristof_Zerbe" class="fa-icon-xing">Xing</a>
            </p>
            <p>
              <label>Follow me on</label>
              <a href="https://indieweb.social/@kiko" class="fa-icon-mastodon">Mastodon</a>  
            </p>
            <p>
              <label>Review my projects on</label>
              <a href="https://github.com/kristofzerbe" class="fa-icon-github">GitHub</a>  
            </p>
            <p>
              <label>Review my photos on</label>
              <a href="https://500px.com/kikon" class="fa-icon-500px">500px</a>  
            </p>
          </div>
        </div>
        <div class="contact-face-flip">flip for qrcode</div>
      </div>
      <div class="contact-face face-back">
        <div class="contact-face-wrapper">
          <div class="header">
            <h3><%- config.author %></h3>
            <h4>kiko.io/about/#contact</h4>
          </div>
          <hr class="divider">
          <div id="contact-qrcode" class="qrcode"></div>
          <!-- <img class="qrcode" src="/images/qr-code-styling.png" alt="QRCode" /> -->
        </div>
        <div class="contact-face-flip">flip for card</div>
      </div>
    </div>
  </div>
</template>