<% if (page.photograph) { %>
  <%- partial('_partial/photograph') %>
<% } %>

<h1 class="page-title" data-pagefind-meta="title" data-pagefind-meta="type:Anything">
  <small><%= page.index.name %></small>
  <%= page.key.caption %>
</h1>

<div class="anything-item">
  <div class="anything-content">
    <%- page.content %>
  </div>
</div>

<hr class="divider" />
<p>
  Following <%= (page.count === 1) ? "post" : page.count + " posts" %> belong to <strong><%= page.title %></strong> ...
</p>

<div class="anything-list">
<% page.posts.each(function(post){ %>
  <%- partial('_partial/post-item', { post: post, index: true }) %>
<% }) %>
</div>
