<% if (page.photograph) { %>
  <%- partial('_partial/photograph') %>
<% } %>

<% if (page.index.name !== "project") { %>
<%- partial('_partial/nav-index-archives') %>
<% } %>

<% let capPageIndexName = page.index.name[0].toUpperCase() + page.index.name.substring(1); %>
<h1 class="archive-title" data-pagefind-meta="title" data-pagefind-meta="type:Anything">
  <span><%= capPageIndexName %><b> | </b></span><strong><%= page.key.caption %></strong>
</h1>

<%- partial('_partial/anything-page-item', { item: page }) %>

<%#- partial('_partial/archive', { pagination: 2, index: true }) --- does not work, because of sorting error %>
<% page.posts.each(function(post){ %>
  <%- partial('_partial/excerpt', { post: post, index: true }) %>
<% }) %>

