<% if (page.photograph) { %>
  <%- partial('_partial/photograph') %>
<% } %>

<% if (page.path.startsWith("series")) { %>
  <%- partial('_partial/nav-index-archives', { iconCodeCurrent: config.html_codes.four_pointed_star }) %>
<% } %>

<h1 class="archive-title">
  <% if (page.path.startsWith("series")) { %>
    <small>Article</small>
  <% } %>
  <%= page.title %>
</h1>

<% if (page.content){ %>
  <%- page.content %>
<% } %>

<div class="anything-list">
  <% page.posts.each(function(item){ %>
    <%- partial('_partial/anything-main-item', { item: item, index: page.index }) %>
  <% }) %>    
</div>
