<% if (page.photograph){ %>
    <%- partial('_partial/photograph') %>
<% } %>

<h1 class="archive-title" data-pagefind-meta="title" data-pagefind-meta="type:Anything">
    <span><%= page.index.name %><b>|</b></span><%= page.key.caption %>
</h1>

<%- partial('_partial/anything-page-item', { item: page }) %>

<%#- partial('_partial/archive', { pagination: 2, index: true }) --- does not work, because of sorting error %>
<% page.posts.each(function(post){ %>
  <%- partial('_partial/excerpt', { post: post, index: true }) %>
<% }) %>

