<% if (page.month) { %>
    <h1 class="archive-title"><span style="font-weight:normal;">Archives <span style="opacity:0.5">|</span> Month</span>&nbsp;<%= moment().month(page.month).subtract(1, "month").format('MMMM') %> <%= page.year %></h1>
<% } else { %>
    <% if (page.year) { %>
        <h1 class="archive-title"><span style="font-weight:normal;">Archives <span style="opacity:0.5">|</span> Year</span>&nbsp;<%= page.year %></h1>
    <% } else { %>
        <h1 class="archive-title">Archives</h1>
    <% } %>
<% } %>
<%- partial('_partial/archive-navigation') %>
<%- partial('_partial/archive', { pagination: config.archive, index: true }) %>