<% if (page.photograph){ %>
  <%- partial('_partial/photograph') %>
<% } %>

<h1 class="page-title" data-pagefind-meta="title" data-pagefind-meta="type:Page">
  Blogroll
</h1>

<div class="page-content">
  <%- page.content %>
</div>

<div class="panels" style="margin-bottom: 2rem;" data-pagefind-ignore>
  <% page.items
      .sort((a,b) => a.latest_post.date_published - b.latest_post.date_published).reverse()
      .forEach(item => { %>
  <div class="panel" data-latest-post-delta="<%= item.latest_post.today_delta %>">
    <div class="panel-inner <%- (item.latest_post.today_delta == 0) ? "today" : (item.latest_post.today_delta == 1) ? "yesterday" : "" %>">
      <div class="panel-content">
        <a class="panel-favicon" href="<%= item.url %>"><img src="<%= item.favicon %>" /></a>
        <%- partial('_partial/post/title', { post: item, class_name: 'panel-title'}) %>
        <% if (item.title != item.author) { %>
          <small style="display:block; margin-block: -0.5rem 0.5rem">by <%= item.author %></small>
        <% } %>    
        <p class="small"><a href="https://<%= item.host %>"><%= item.host %></a></p>
        <p class="limit-4-lines"><%= item.description %></p>
        <div class="icon-links">
          <% if (item.mastodon) { %>
          <a class="mastodon" href="<%= item.mastodon %>">&nbsp;</a>
          <% } %>
          <a class="rss" href="<%= item.feed %>">
            <% if (item.feedLength) { %>
            <small title="<%= item.feedSize %>"><%= item.feedLength %> Posts</small>
            <% } %>
          </a>
        </div>
        <% if (item.latest_post?.url) { %>
          <small class="label">
            Last Post @ 
            <span><%= new Date(item.latest_post.date_published).toLocaleString('en-GB', { year:"numeric", month:"long", day:"numeric"}) ?? "---" %></span>:
          </small>
          <a href="<%= item.latest_post.url %>"><%= item.latest_post.title %></a>
        <% } else if (item.errorStatus) { %>
          <small class="label">Error <%= item.errorStatus %> while fetching the feed. Tryin' again tomorrow...</small>
        <% } else { %>
          <small class="label">Failed to read the feed. Tryin' again tomorrow...</small>
        <% } %>
      </div>
    </div>
  </div>
  <% }); %>    
</div>