<%# if (page.photograph) { %>
  <% //TODO: Refactor to _source/archives/index.md
    page.photograph = {
      file: "$22-05-Malta-7531.jpg",
      name: "Suspended Window"
    }
  %>
  <%- partial('_partial/photograph') %>
<%# } %>

<%- partial('_partial/nav-index-archives', { iconCodeCurrent: config.html_codes.left_arrow_hook }) %>

<h1 class="archive-title">
  <small>Articles</small>
  <em class="category"></em><%= page.category %>
</h1>
<%- partial('_partial/archive-navigation') %>
<%- partial('_partial/archive-item', { pagination: config.category, index: true }) %>