<%- css('css/dist/lc_select.min.css') %>
<%- js('js/dist/lc_select.min.js') %>

<% if (page.photograph){ %>
  <%- partial('_partial/photograph', { page: page }) %>
<% } %>

<h1 class="page-title"><%= page.title %></h1>
<h2 class="page-subtitle"><%= page.subtitle %></h2>

<div class="page-content">
    <%- page.content %>

    <section>
      <fieldset class="lcslt-wrapper">
        <span class="result" data-total="<%- page.items.length %>"><%- page.items.length %> items total</span>
        <label>Filter:</label>
        <select name="multiple" data-placeholder="Select a category..." multiple>
          <% for(var i=0; i < page.labels.length; i++) { %>
          <option value="<%- page.labels[i] %>"><%- page.labels[i] %></option>
          <% } %>
        </select>
      </fieldset>
    </section>

    <div class="grid">
      <% for(var i=0; i < page.items.length; i++) { %>
        <%- partial('_partial/collection-item', { item: page.items[i] }) %>
      <% } %>
    </div>
</div>

<script>
  new lc_select('select[name="multiple"]', {
      enable_search: false,
      on_change: function(new_value, target_field) {
        let i = 0;
        document.querySelectorAll(".card").forEach(item => {
          i += 1;
          let tags = item.getAttribute("data-tags").split(";");
          var found = new_value.every(r => tags.indexOf(r) >= 0);
          if (!found) {
            if (!item.classList.contains("hide")) {
              item.classList.add("hide");
              setTimeout(() => { item.style.display = "none"; }, 300);
            }
          } else {
            if (item.classList.contains("hide")) {
              item.style.display = "block";
              setTimeout(() => { item.classList.remove("hide"); }, 100);
            }
          }
        });
        setTimeout(() => { 
            initViewportImage();

            var resultCount = document.querySelectorAll(".card:not(.hide)").length;
            let resultElement = document.querySelector(".lcslt-wrapper .result");
            var totalCount = parseInt(resultElement.dataset.total);

            if (resultCount === totalCount) {
              resultElement.textContent = totalCount + " items total";
            } else if(resultCount === 0) {
              resultElement.textContent = "no items found";
            } else {
              resultElement.textContent = resultCount + ((resultCount === 1) ? " item " : " items ") + "found"
            }
          }, 300);
      }
  });
</script>