
<% if (page.photograph){ %>
  <%- partial('_partial/photograph') %>
<% } %>

<h1 class="page-title" data-pagefind-meta="title" data-pagefind-meta="type:Page">
  <%= page.title %>
</h1>

<div class="page-content">
  <%- page.content %>

  <hr class="divider" />

  <% let itemYear = 0; %>
  <% page.items.forEach(item => { %>
    <% if (itemYear !== item.date.getFullYear()) { %>
      <h2 class="section-heading"><%= item.date.getFullYear() %></h2>
      <% itemYear = item.date.getFullYear(); %>
    <% } %>
    <%- partial('_partial/concert-item', { item: item }) %>
  <% }); %>

</div>

