<%- partial('_partial/head') %>
<body id="body">  
  <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
  <div id="content" class="outer">
    <main <%= (page.hidden) ? "" : "data-pagefind-body" %>>
      <%- body %>
    </main>
    <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
  </div>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/after-footer') %>
</body>
<%- partial('_partial/templates/contact-dialog') %>
<%- partial('_partial/templates/mastodon-share-dialog') %>
</html>