
<% if (page.photograph){ %>
  <%- partial('_partial/photograph') %>
<% } %>

<h1 class="page-title" data-pagefind-meta="title" data-pagefind-meta="type:Page">
  <%= page.title %>
</h1>

<div class="page-content">
  <%- page.content %>
  
  <hr class="divider" />
  
  <% Object.entries(page.data.bandcamp.list).forEach(([key, value]) => { %>
  <section class="music-bc" data-key="<%= key %>">
    <a class="bc-artist" href="https://www.last.fm/music/<%- value.artist.slug.replaceAll("-", "+") %>">
      <img src="/images/artists/<%- value.artist.slug %>.jpg" />
    </a>
    <h2><%= value.artist.name %></h2>
    <ul class="bc-list">
    <% value.list.forEach(item => { %>
      <li>
        <details name="bc-track" 
          data-track-id="<%= item.track.id %>" 
          data-album-id="<%= item.album.id %>">
          <summary>
            <svg class="icon-music-note-accent">
              <use xlink:href="/images/icons/music-note-accent.svg#note"></use>
            </svg>
            <h3><%= item.track.name %></h3>
            <small><%= item.album.name %></small>
          </summary>
          <div class="bc-more">
            <iframe id="bandcamp-player-<%= item.track.id %>" 
              src=""
              width="100%" height="120px"
              load="lazy" seamless>
            </iframe>
            <div class="bc-post">
              <%- partial('_partial/post/postimagelink', { post: item.post, label: "Used in Article" }) %>
            </div>
          </div>
        </details>
      </li>
    <% }); %>
    </ul>
  </section>
  <% }); %>

</div>

<script>
  const details = document.querySelectorAll("details");
  details.forEach(d => {
    d.addEventListener("toggle", (event) => {
      let bcPlayer = document.getElementById("bandcamp-player-" + event.target.dataset.trackId);
      if (event.target.open) {
        //console.log(event.target.dataset.trackId);
        let style = window.getComputedStyle(document.documentElement);    
        let bgColor = style.getPropertyValue("--color-button-back").replace("#", "");
        let lnkColor = style.getPropertyValue("--color-accent-text").replace("#", "");
        let bcPlayerUri = "https://bandcamp.com/EmbeddedPlayer/album=" + event.target.dataset.albumId + "/size=large/bgcol=" + bgColor + "/linkcol=" + lnkColor + "/tracklist=false/artwork=small/track=" + event.target.dataset.trackId + "/transparent=true/";
        bcPlayer.contentWindow.location.replace(bcPlayerUri);
      } else {
        bcPlayer.contentWindow.location.replace("about:blank");
      }
    });
  });
</script>