<% if (page.photograph){ %>
  <%- partial('_partial/photograph') %>
<% } %>

<a class="page-backlink" href="<%= page.indexlink %>">Notes <%= page.year %></a>

<article id="note-<%= page.key %>" class="article note h-entry" itemscope itemprop="blogPost">

  <div class="article-meta">
    <div class="p-author" style="display:none">
      <img class="u-photo" src="<%- config.photo %>" alt="<%- config.author %>" />
      <a class="p-name u-url" href="<%- config.url %>" rel="author"><%- config.author %></a>
    </div>
    <a class="u-url u-uid" href="<%- page.permalink %>" style="display:none;"><%- page.permalink %></a>
    <time class="published dt-published" datetime="<%= date_xml(page.date) %>" itemprop="datePublished"><%= date(page.date, 'DD MMM YYYY') %></time>
    <div class="article-category p-category category-note" style="display:none">
      <a class="article-category-link" href="/notes/">Notes</a> 
    </div>
  </div>
    
  <div class="article-inner">

    <header class="article-header">
      <%- partial('_partial/post/title', { post: page, class_name: 'article-title p-name', show_link: false, index: false }) %>
    </header>

    <div class="article-entry e-content" itemprop="articleBody">
      <%- page.content %>
    </div>
  
    <footer class="article-footer">
      <%- partial('_partial/post/syndication', { post: page, class_name: 'article-syndication' }) %>
      <%- partial('_partial/post/permalink', { post: page, class_name: 'article-permalink' }) %>
    </footer>
  
  </div>

  <%- partial('_partial/post/webmentions', { post: page }) %>

</article>
