<% if (page.photograph){ %>
<%- partial('_partial/photograph') %>
<% } %>

<h1 class="page-title"><%= page.title %> <%= page.year %></h1>
<% if (page.subtitle) { %>
<h2 class="page-subtitle"><%= page.subtitle %></h2>
<% } %>

<div class="page-index-list">
  <% for(var i=0; i < page.years.length; i++) { %>
  <% if (page.years[i].year == page.year) { %>
  <a class="current" href="#" onclick="switchCondensed(this); return false;"></a>
  <% } else { %>
  <a href="<%= "/" + page.years[i].link %>"><%= page.years[i].year %></a>
  <% } %>
  <% } %>
</div>
<script>
  function switchCondensed(e) {
    if (e.classList.contains("condensed")) {
      e.classList.remove("condensed");
      document.querySelector(".note-list").classList.remove("condensed");
    } else {
      e.classList.add("condensed");
      document.querySelector(".note-list").classList.add("condensed");
    }
  }
</script>

<% if (page.notes.length > 0) { %>
<div class="note-list">
  <% page.notes.forEach(function(note){ %>
  <%- partial('_partial/note-item', { note: note }) %>
  <% }) %>
</div>
<% } else { %>
<p style="padding: 20px 10px;">NO NOTES YET THIS YEAR ...</p>
<% } %>