<% if (page.photograph) { %>
  <%- partial('_partial/photograph') %>
<% } %>

<%- partial('_partial/nav-index-notes') %>

<h1 class="page-title">
  <span><%= page.title %><b> | </b></span><%= page.year %>
  <button class="title-command switch-condensed" onclick="switchCondensed(this); return false;"></button>
</h1>

<script>
  function switchCondensed(e) {
    if (e.classList.contains("condensed")) {
      e.classList.remove("condensed");
      document.querySelector(".note-list").classList.remove("condensed");
    } else {
      e.classList.add("condensed");
      document.querySelector(".note-list").classList.add("condensed");
    }
  }
</script>

<% if (page.notes.length > 0) { %>
<div class="note-list" data-pagefind-ignore>
  <% page.notes.forEach(function(note){ %>
  <%- partial('_partial/note-item', { page: note }) %>
  <% }) %>
</div>
<% } else { %>
<p style="padding: 20px 10px;">NO NOTES YET THIS YEAR ...</p>
<% } %>