<% if (page.photograph){ %>
  <%- partial('_partial/photograph') %>
<% } %>

<h1 class="page-title"><%= page.title %> <%= page.year %></h1>

<div class="page-index-list">
    <% for(var i=0; i < page.years.length; i++) { %>
        <a class="<%= (page.years[i].year == page.year) ? "current" : "" %>" href="<%= "/" + page.years[i].path %>">
            <%= (page.years[i].year == page.year) ? "..." : page.years[i].year %>
        </a>
    <% } %>
</div>

<div class="note-list">
    <% page.notes.forEach(function(note){ %>
        <%- partial('_partial/note-item', { note: note }) %>
    <% }) %>    
</div>
