<% if (page.photograph){ %>
  <%- partial('_partial/photograph') %>
<% } %>

<!-- <a class="page-backlink" href="<%# page.indexlink %>">Notes <%# page.year %></a> -->

<article id="note-<%= page.slug %>" data-pagefind-meta="type:Note"
         class="article note h-entry <%= (page.rel?.verb) && "rel" %>">

  <div class="article-meta" data-pagefind-ignore>
    <div class="h-card p-author" style="display:none">
      <img class="u-photo" src="<%- config.photo %>" alt="<%- config.author %>" />
      <a class="p-name u-url" href="<%- config.url %>" rel="author"><%- config.author %></a>
    </div>
    <a class="u-url u-uid" href="<%- page.permalink %>" style="display:none;"><%- page.permalink %></a>
    <div class="article-category p-category category-note" style="display:none">
      <a class="article-category-link" href="/notes/">Notes</a> 
    </div>
    <time class="published dt-published" data-pagefind-meta="date" 
          datetime="<%= date_xml(page.date) %>"><%= date(page.date, 'DD MMM YYYY') %></time>
    <% if (page.rel?.verb) { %>
      <small>
        <span><%= page.rel.verb.replaceAll("-", " ") %></span>
        <a href="<%= page.rel.url %>" class="u-<%= page.rel.verb %>" title="<%= page.rel.caption %>"><%= page.rel.caption %></a>
      </small>
    <% } %>
  </div>
    
  <div class="article-inner">

    <header class="article-header">
      <%- partial('_partial/post/title', { post: page, class_name: 'article-title p-name', show_link: false, index: false }) %>
    </header>

    <div class="article-entry e-content">
      <%- page.content %>
      
    <% if (page.rel?.verb) { %>
      <hr>
      <a href="<%= page.rel.url %>"><strong><%= page.rel.caption %></strong><br/><%= page.rel.url %></a></small>
    <% } %>
      
    </div>
  
    <footer class="article-footer" data-pagefind-ignore>
      <%- partial('_partial/post/permalink', { post: page, class_name: 'article-permalink' }) %>
    </footer>
  
  </div>

  <%- partial('_partial/post/interaction', { post: page, type: 'note', comments: false  }) %>

</article>
