<% if (page.photograph){ %>
  <%- partial('_partial/photograph') %>
<% } %>

<%
  function convertDecimalToFraction(decimalValue) {
    //https://www.insidethediv.com/javascript-simple-projects-with-source-code-fraction-calculator

    const [whole, decimal] = decimalValue.toString().split('.');
    const numerator = + (whole + decimal);
    const denominator = Math.pow(10, decimal.length);
    const gcf = getGCF(numerator, denominator);
    const fraction = reduceFraction(numerator/gcf, denominator/gcf);

    return fraction.join("/");

    function getGCF(a, b) {
    if (b === 0) {
      return a;
    }
    return getGCF(b, a % b);
    }

    function reduceFraction(numerator, denominator) {
      const gcf = getGCF(numerator, denominator);
      return [numerator/gcf, denominator/gcf];
    }
  }
%>

<% if (page.meta.latitude && page.meta.longitude) { %>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
<% } %>

<h1 class="archive-title">
  <span>Photo<b>|</b></span><%= page.name %>
</h1>

<div class="page-content">

  <img class="section" src="<%- page.pathNormal %>" alt="<%- page.name %>" />

  <section class="meta">
    <ul>
      <li>
        <label>Title</label>
        <span><%= page.meta.ObjectName %></span>
      </li>
      <li>
        <label>File</label>
        <span><%= page.file %></span>
      </li>
      <li>
        <label>Status</label>
        <% if (page.status === 'pool') { %>
          <span>Unused (Pool Photo)</span>
        <% } else { %>
          <span>Used at <%= page.article.type + ((["page", "post"].some(v => page.article.type.includes(v))) ? "" : " page") %> <a href="<%= page.article.url %>"><%= page.article.title %></a></span>
        <% } %>
      </li>
      <li>
        <label>Links</label>
        <div class="site-links">
        <% page.meta.custom.links.forEach(link => { %>
          <% if (link.url) { %>
          <a class="site-link site-<%= link.site %>" target="_blank" href="<%= link.url %>"><%= link.url %></a>
          <% } %>
        <% }); %>
        </div> 
      </li>
      <% if (page.meta) { %>
      <li><hr style="margin:0"></li>
      <li>
        <label>Keywords</label>
        <span><%= page.meta.Keywords?.join(", ") %></span>
      </li>
      <li>
        <label>Artist, Copyright</label>
        <span><%= page.meta.Artist ?? "Kristof Zerbe" %>,  &copy; <%= page.meta.Copyright ?? "" %> CC-BY-SA</span>
      </li>
      <li>
        <label>Create Date</label>
        <span><%= new Date(page.meta.CreateDate).toLocaleString('de-DE', { weekday:"long", year:"numeric", month:"long", day:"numeric", hour: "2-digit", minute: "2-digit"}) ?? "---" %></span>
      </li>
      <li>
        <label>Country, State, City</label>
        <span><%= (page.meta?.Country?? "---") + ", " + (page.meta.State ?? "---") + ", " + (page.meta.City ?? "---") %></span>
      </li>
      <li>
        <label>GPS Coordinates (Lat/Long)</label>
        <span><%= page.meta.latitude ?? "---" %> / <%= page.meta.longitude ?? "---" %></span>
        <% if (page.meta.latitude && page.meta.longitude) { %>
        <div id="map" style="height: 320px; margin: 12px -28px 0"></div>
        <% } %>
      </li>
      <li><hr style="margin:0"></li>
      <li>
        <label>Camera</label>
        <span><%= page.meta.Model ?? "---" %></span>
      </li>
      <li>
        <label>Lens</label>
        <span><%= page.meta.LensModel ?? "---" %></span>
      </li>
      <li>
        <label>Focal Length</label>
        <span><%= (page.meta.FocalLength + "mm") ?? "---" %></span>
      </li>
      <li>
        <label>ISO</label>
        <span><%= page.meta.ISO ?? "---" %></span>
      </li>
      <li>
        <label>FNumber</label>
        <span><em>f&nbsp;</em><%= page.meta.FNumber ?? "---" %></span>
      </li>
      <li>
        <label>Exposure Time</label>
        <span>
          <%= convertDecimalToFraction(page.meta.ExposureTime.toFixed(4)) ?? "---" %>&nbsp;
          <em style="font-style:normal;opacity:0.5">(<%= page.meta.ExposureTime %>)</em>
        </span>
      </li>
      <li>
        <label>Shutter Speed</label>
        <span><%= page.meta.ShutterSpeedValue ?? "---" %></span>
      </li>
      <li>
        <label>Aperture</label>
        <span><%= page.meta.ApertureValue ?? "---" %></span>
      </li>
      <li>
        <label>Metering Mode</label>
        <span><%= page.meta.MeteringMode ?? "---" %></span>
      </li>
      <li>
        <label>Software</label>
        <span><%= page.meta.Software ?? "---" %></span>
      </li>
      <% } %>
    </ul>
    <%- partial('_partial/post/permalink', { post: page, class_name: 'article-permalink' }) %>
  </section>

  <%- partial('_partial/post/interaction', { post: page, type: 'photo', comments: false }) %>

  <% if (page.meta.latitude && page.meta.longitude) { %>
  <script>
    var map = L.map('map', {
      center: [<%= page.meta.latitude %>, <%= page.meta.longitude %>],
      zoom: 11,
      zoomControl: false,
    })
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    var marker = L.marker([<%= page.meta.latitude %>, <%= page.meta.longitude %>]).addTo(map);
  </script>
  <% } %>
  
  <script>
    setTimeout(() => {
      let header = document.getElementById("header");
      header.classList.add("gray");
    }, 750);
  </script>

</div>
