<%- js('js/dist/leaflet.js') %>  
<%- css('css/dist/leaflet.css') %>    

<% if (page.photograph){ %>
  <%- partial('_partial/photograph') %>
<% } %>

<%- partial('_partial/nav-index-photos', { currentClass: "" }) %>

<h1 class="page-title">
  <small>Photos</small>
  Map
</h1>

<div class="page-content">
  <%- page.content %>
  <div id="map" class="inline-map"></div>
</div>

<object type="image/svg+xml" data="/images/icons/marker-photo.svg" id="marker-image" width="0" height="0"></object>   
<script>
  var map = L.map('map', {
    center: [50.08287272650057, 8.243133271560554],
    zoom: 4,
    zoomControl: false,
  })
  L.tileLayer('<%= config.osm_tile_layer %>', {
      maxZoom: 18,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  const markerImage = document.getElementById("marker-image");
  markerImage.addEventListener("load",function() {
    const markerIcon = L.divIcon({
      className: "marker",
      html: markerImage.contentDocument.getElementsByTagName("svg")[0].outerHTML,
      iconSize: [20, 20]
    });
    this.remove(); // remove marker object, because we got the SVG code

    let jsonCoords = <%- JSON.stringify(page.coordinates) %>;

    jsonCoords.forEach(item => {
      let marker = L.marker([item.latitude, item.longitude], { icon: markerIcon }).addTo(map);
      let list = item.photos.map(p => {
        return `<li><a href="/photos/${p.name}">${p.title}</a>&nbsp;<span>(${p.year})</span></li>`;
      }).join('');      
      let popup = `<b>${item.photos.length} ${item.photos.length === 1 ? "Photo":"Photos"}</b><ul>${list}</ul>`;
      let options = {
        'maxWidth': '400',
        'width': '200',
        'className' : 'photoPopup'
      }
      marker.bindPopup(popup,options);
    });
  });
</script>