<% if (page.photograph){ %>
  <%- partial('_partial/photograph', { page: page }) %>
<% } %>

<h1 class="page-title"><%= page.title %></h1>
<h2 class="page-subtitle"><%= page.subtitle %></h2>

<div class="page-content">
  <%- page.content %>

  <hr>

  <div class="view-bar">
    <div class="bar-info"><span><%= page.items.length %></span> Photos</div>
    
    <div class="bar-cmd">
      <input type="radio" name="view-filter" id="filter-all" data-status="all" checked
             onclick="setFilter('pool');">
      <label for="filter-all"></label>
      <input type="radio" name="view-filter" id="filter-pool" data-status="pool" 
             onclick="setFilter('used');">
      <label for="filter-pool"></label>
      <input type="radio" name="view-filter" id="filter-used" data-status="used" 
             onclick="setFilter('all');">
      <label for="filter-used"></label>
    </div>

    <div class="bar-cmd">
      <input type="radio" name="view-switch" id="switch-grid" checked 
             onchange="setView('grid');">
      <label for="switch-grid"></label>
      <input type="radio" name="view-switch" id="switch-list" 
             onchange="setView('list');">
      <label for="switch-list"></label>
    </div>
  </div>

  <div class="view grid">
    <% for(var i=0; i < page.items.length; i++) { %>
      <%- partial('_partial/photo-item', { item: page.items[i] }) %>
    <% } %>
  </div>  

</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
    let currentView = getCookie("view");
    if (currentView) {
      document.querySelector("#switch-" + currentView).checked = true; 
      setView(currentView);
    }
  })

  function setView(newView) {
    let view = document.querySelector('.view');
    if (newView === 'list') {
      view.classList.replace('grid', 'list')
    } else {
      view.classList.replace('list', 'grid')
    }
    setCookie("view", newView, 365);
  }

  function setFilter(newFilter) {    
    document.querySelector("#filter-" + newFilter).checked = true;

    document.querySelectorAll(".card").forEach(item => {
      if (newFilter === 'all') {
        item.style.display = "block";
        setTimeout(() => { item.classList.remove("hide"); }, 100);
      } else {
        if (newFilter === item.getAttribute("data-status")) {
          item.style.display = "block";
          setTimeout(() => { item.classList.remove("hide"); }, 100);
        } else {
          item.classList.add("hide");
          setTimeout(() => { item.style.display = "none"; }, 300);
        }
      }
    });
    setTimeout(() => { 
        initViewportImage();

        var resultCount = document.querySelectorAll(".card:not(.hide)").length;
        let resultElement = document.querySelector(".bar-info span");
        var totalCount = parseInt(resultElement.dataset.total);

        if (resultCount === totalCount) {
          resultElement.textContent = totalCount + " items total";
        } else if(resultCount === 0) {
          resultElement.textContent = 0;
        } else {
          resultElement.textContent = resultCount; //+ ((resultCount === 1) ? " item " : " items ") + "found"
        }
      }, 300);
  }
  //Fix for heading back to page
  setTimeout(function() {
    setFilter(document.querySelector('input[name=view-filter]:checked').getAttribute("data-status"));
  }, 500)

</script>