<%- css('pagefind/pagefind-ui.css') %>
<%- js('pagefind/pagefind-ui.js') %>

<% if (page.photograph){ %>
  <%- partial('_partial/photograph') %>
<% } %>

<h1 class="page-title"><%= page.title %></h1>

<div class="page-content">
  <%- page.content %>
  
  <section>
    <div id="search"></div>
  </section>
</div>

<script>
  
  window.addEventListener('DOMContentLoaded', (event) => {
    new PagefindUI({ 
      element: "#search",
      bundlePath: "/pagefind/",
      resetStyles: true
    });
  });
  waitForElm(".pagefind-ui__search-input").then((elm) => {
    elm.focus();
  });

</script>