
<script type="module" src="/js/dist/activity-graph.min.js"></script>
<%- css('css/dist/charts.min.css') %>

<% if (page.photograph){ %>
  <%- partial('_partial/photograph') %>
<% } %>

<%- partial('_partial/nav-index-stats', { currentClass: "" }) %>

<h1 class="page-title" data-pagefind-meta="title" data-pagefind-meta="type:Page">
  <%= page.title %>
</h1>

<div class="page-content">
  <%- page.content %>
  
  <hr class="divider" />

  <section class="stats" style="z-index: 3">
    <h2>Posts</h2>
    <p>
      <b><%= page.data.times.periodBetweenFirstLastPost.years %></b><em>years</em>,
      <b><%= page.data.times.periodBetweenFirstLastPost.months %></b><em>months</em> and 
      <b><%= page.data.times.periodBetweenFirstLastPost.days %></b><em>days</em> or a total of 
      <b><%= page.data.times.daysBetweenFirstLastPost %></b><em>days</em> have passed between my 
      <a href="/<%= page.data.times.firstPost.path %>" title="<%= page.data.times.firstPost.title %>">first post</a> on 
      <i><%= page.data.times.firstPost.dateFormat %></i> and the 
      <a href="/<%= page.data.times.lastPost.path %>" title="<%= page.data.times.lastPost.title %>">last one</a> 
      <b><%= page.data.times.daysSinceLastPost %></b><em>days ago</em>.
    </p>
    <p>
      During this period I've written 
      <b><%= page.data.counts.articles %></b><em>articles</em> in 
      <b><%= page.data.counts.categories %></b><em>categories</em> with 
      <b><%= page.data.counts.tags %></b><em>tags</em> and published 
      <b><%= page.data.counts.notes %></b><em>notes</em>.
    </p>
    <p>
      <b><%= page.data.counts.series.articles %></b><em>articles</em> belong to one of a total of 
      <b><%= page.data.counts.series.count %></b><em>series</em> and 
      <b><%= page.data.counts.projects.articles %></b><em>articles</em> to one of the   
      <b><%= page.data.counts.projects.count %></b><em>projects</em> I maintain.
    </p>
  </section>

  <div class="charts-wrapper" style="z-index: 2">
    <table id="years-chart" class="charts-css bar show-labels data-spacing-5 multiple stacked">
      <thead>
        <tr>
          <th scope="col">Year</th>
          <th scope="col">Articles</th>
          <th scope="col">Notes</th>
        </tr>
      </thead>
      <tbody>
      <% Object.entries(page.data.lists.postsYearCount).reverse().forEach(([key, value]) => { %>
        <tr>
          <th scope="row"><%= key %></th>
          <% if (value.articles > 0) { %>
          <td style="--size: calc(<%= value.articles %>/100);">
            <span class="data"><%= value.articles %></span>
          </td>
          <% } %>
          <% if (value.notes > 0) { %>
          <td class="secondary" style="--size: calc(<%= value.notes %>/100);">
            <span class="data"><%= value.notes %></span>
          </td>
          <% } %>
        </tr>
      <% }); %>
      </tbody>
    </table>
    <ul class="charts-css legend legend-inline legend-square">
      <li>Articles</li>
      <li class="secondary">Notes</li>
    </ul>
  </div>

  <div class="activity-graph-wrapper" style="z-index: 1">
    <activity-graph
      range-start="<%= page.data.times.firstPost.dateISO %>"
      range-end="<%= page.data.times.lastPost.dateISO %>"
      activity-data="<%= page.data.lists.postsAll.join(",") %>"
      activity-levels="0,1,2,4"
      first-day-of-week="1"
      lang="en"
      i18n='{"activities": "posts", "less": "less", "more": "more"}'>
    </activity-graph>
  </div>

  <section class="stats">
    <h2>Photos</h2>
    <p>
      In between, I published 
      <b><%= page.data.counts.boxes %></b><em>photo boxes</em> and 
      <b><%= page.data.counts.photos.total %></b><em>photos in total</em>.<br> 
      For all my pages, I <em>used</em> <b><%= page.data.counts.photos.used.total %></b> 
      of them as individual header photos and have set aside 
      <b><%= page.data.counts.photos.unused.pool %></b> as <em>pool</em> photos for future articles. 
      <b><%= page.data.counts.photos.unused.reserve %></b> more are already 
      <em>reserved</em> for specific new pages. The remaining 
      <b><%= page.data.counts.photos.unused.shed %></b> photos are stored in the 
      <em>shed</em> for publication via syndication.
    </p>
  </section>

  <section class="charts-wrapper stats">
    <h2>Syndications</h2>
    <p>
      I have made 
      <b><%= page.data.counts.syndications.posts %></b> syndications of <em>posts</em> and 
      <b><%= page.data.counts.syndications.photos %></b> of <em>photos</em>  
      on the following platforms:
    </p>
    <table id="syndication-chart" class="charts-css bar show-labels data-spacing-5">
      <thead>
        <tr>
          <th scope="col">Host</th>
          <th scope="col">Syndications</th>
        </tr>
      </thead>
      <tbody>
      <% let syn = Object.entries(page.data.lists.syndicationHostCount).sort(([,va],[,vb]) => vb-va); %>
      <% syn.forEach(([key, value]) => { %>
        <tr data-key="<%= key %>">
          <th scope="row"><small><%= key %></small></th>
          <td style="--size: calc(<%= value %>/<%= syn[0][1] + 50 %>);">
            <span class="data"><%= value %></span>
          </td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </section>

  <section class="stats">
    <h2>Other</h2>
    Furthermore I collected 
    <b><%= page.data.counts.tinytools %></b><em>Tiny Tools</em>, added 
    <b><%= page.data.counts.blogroll %></b><em>authors</em> to my <em>blogroll</em> and went to 
    <b><%= page.data.counts.concerts %></b><em>concerts</em>.
  </section>

</div>

<script>
    //
</script>
