<%# if (page.photograph) { %>
  <% //TODO: Refactor to _source/archives/index.md
    page.photograph = {
      file: "$22-05-Malta-7531.jpg",
      name: "Suspended Window"
    }
  %>
  <%- partial('_partial/photograph') %>
<%# } %>

<%- partial('_partial/nav-index-archives', { currentClass: "skip-right" }) %>

<h1 class="page-title">
  <small>Articles</small>
  <em class="tag"></em><%= page.tag %>
</h1>
<%- partial('_partial/archive-filter') %>
<%- partial('_partial/archive-articles', { pagination: config.tag, index: true }) %>