<div class="widget-wrap">
    <div class="widget about h-card"><!--http://microformats.org/wiki/h-card-->
        <div class="avatar">
            <a href="/about"><img class="u-photo" src="<%= config.photo %>" alt="<%= config.author %>"></a>
            <a href="<%= config.profiles.github %>" target="_blank" class="profile me-github" title="Me on GitHub" rel="me"></a>
            <a href="<%= config.profiles.devto %>" target="_blank" class="profile me-devto" title="Me on dev.to" rel="me"></a>
            <a href="<%= config.profiles.linkedin %>" target="_blank" class="profile me-linkedin" title="Me on LinkedIn" rel="me"></a>      
            <a href="<%= config.profiles.xing %>" target="_blank" class="profile me-xing" title="Me on Xing" rel="me"></a>
            <a href="<%= config.profiles.fivehundredpx %>" target="_blank" class="profile me-500px" title="Me on 500px" rel="me"></a>
            <a href="<%= config.profiles.flickr %>" target="_blank" class="profile me-flickr" title="Me on Flickr" rel="me"></a>
            <a href="<%= config.profiles.unsplash %>" target="_blank" class="profile me-unsplash" title="Me on Unsplash" rel="me"></a>
            <a href="<%= config.profiles.pixelfed %>" target="_blank" class="profile me-pixelfed" title="Me on Pixelfed" rel="me"></a>
            <a href="<%= config.profiles.lemmy %>" target="_blank" class="profile me-lemmy" title="Me on Lemmy" rel="me"></a>
            <a href="<%= config.profiles.mastodon %>" target="_blank" class="profile me-mastodon" title="Me on Mastodon" rel="me"></a>
        </div>
        <h3 class="p-name"><%- config.author %></h3>
        <p class="p-note">
            <i class="p-role">Developer & Team Lead</i><br>located in <i class="p-locality">Wiesbaden</i>,<br><i class="p-country-name">Germany</i>
        </p>
        <a class="u-url u-uid" href="<%- config.url %>" style="display:none;"></a>
    </div>
</div>