<% 
  // Merge POSTS with NOTES
  let items = [...site.posts.data, ... site.notes];
  items.sort((a, b) => a.date.diff(b.date)).reverse(); //TODO: Consider UPDATED
  items = items.slice(0, theme.recent_posts_count);
%>
<% if (items.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('recent_posts') %></h3>
    <div class="widget">
      <ul>
        <% items.forEach((item) => { %>  
          <li>
            <% if (item.updated > item.date) { %>
              <a href="<%- url_for(item.path) %>"><b>Update: </b><%= item.title %></a>
            <% } else { %>
              <a href="<%- url_for(item.path) %>"><%= item.title %></a>
            <% } %>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
<% } %>